Repository passportxyz/passport-scorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint system_tests, lint infra, lint interface, pylint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: |
          (?x)^(
              ^utils/pdf2jpg.app|
              .*.min.css|
              .*.min.js
          )

      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              ^utils/pdf2jpg.app|
              .*.min.css|
              .*.min.js
          )

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.8
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format

  - repo: local
    hooks:
      - id: lint system_tests
        name: lint system_tests
        entry: .hooks/lint_system_tests.sh
        language: system
        files: ^system_tests/
        types_or:
          - ts
          - javascript
          - json

  - repo: local
    hooks:
      - id: lint infra
        name: lint infra
        entry: .hooks/lint_infra.sh
        language: system
        files: ^infra/
        types_or:
          - ts
          - javascript
          - json

  - repo: local
    hooks:
      - id: lint interface
        name: lint interface
        entry: .hooks/lint_interface.sh
        language: system
        types_or:
          - ts
          - javascript
          - json

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        require_serial: true
        exclude: .*/migrations/.*
        args:
          - --fail-under=8

feat(infra): pass Rust routing percentage vars to Pulumi workflows (#905)
  .github/workflows/deploy_generic.yml
  .github/workflows/infra.yml
Due: none

fix(infra): move Rust routing env vars to job level
  .github/workflows/deploy_generic.yml
  .github/workflows/infra.yml
Due: none

fix(infra): move Rust routing env vars to job level (#906)
  .github/workflows/deploy_generic.yml
  .github/workflows/infra.yml
Due: none

feat(infra): read Rust routing percent from 1Password
  .github/workflows/deploy_generic.yml
  .github/workflows/infra.yml
  infra/lib/scorer/routing-utils.ts
Due: lint infra, lint interface

feat(infra): read Rust routing percent from 1Password (#907)
  .github/workflows/deploy_generic.yml
  .github/workflows/infra.yml
  infra/lib/scorer/routing-utils.ts
Due: lint infra, lint interface

feat(scorer): add X stamp weight configuration (3.2 points)
  api/scorer/config/gitcoin_passport_weights.py
  api/scorer/settings/gitcoin_passport_weights.py
Due: pylint

fix(migrations): update import for deletion in embed stamp section models
  api/account/migrations/0048_add_embed_stamp_section_models.py
Due: none

fix(tests): create test user for account setup in embed stamp sections tests
  api/embed/test/test_handle_stamp_sections.py
Due: pylint

fix(tests): add weight configuration setup for embed stamp sections tests
  api/embed/test/test_handle_stamp_sections.py
Due: pylint

feat(ceramic-cache): add SIWE authentication endpoint
  api/ceramic_cache/api/schema.py
  api/ceramic_cache/api/v1.py
  api/ceramic_cache/test/test_authenticate_v2.py
  api/scorer/settings/base.py
Due: pylint

feat(ceramic-cache): add RS256 JWT signing and ERC-6492 signature validation
  api/ceramic_cache/api/v1.py
  api/ceramic_cache/test/test_authenticate_v2.py
  api/scorer/settings/base.py
Due: pylint

chore(env): add SIWE JWT keys and Alchemy config to .env.development
  .env.development
Due: none

fix(ceramic-cache): fix tests and add intercom_user_hash to v1 response
  api/ceramic_cache/api/schema.py
  api/ceramic_cache/api/v1.py
  api/ceramic_cache/test/test_authenticate_v2.py
  api/conftest.py
  api/scorer/settings/base.py
  dev-setup/setup.sh
Due: pylint

feat(settings): support base64-encoded SIWE JWT keys
  api/scorer/settings/base.py
Due: pylint

feat(ceramic-cache): add SIWE authentication endpoint (#909)
  .env.development
  api/ceramic_cache/api/schema.py
  api/ceramic_cache/api/v1.py
  api/ceramic_cache/test/test_authenticate_v2.py
  api/conftest.py
  api/scorer/settings/base.py
  dev-setup/setup.sh
Due: pylint

feat(ceramic-cache): support both RS256 and HS256 JWT verification
  api/ceramic_cache/api/v1.py
  rust-scorer/src/auth/jwt.rs
Due: pylint

test(ceramic-cache): add integration tests for RS256 token on protected endpoints
  api/ceramic_cache/test/test_authenticate_v2.py
Due: pylint

feat: v2 auth in lambda
  api/app_api/lambda_fn.py
  api/scorer/settings/base.py
  infra/lib/scorer/routing-rules.ts
Due: lint infra, lint interface, pylint

fix(auth): convert address to EIP-55 checksum format for SIWE validation
  api/ceramic_cache/api/v1.py
  api/ceramic_cache/test/test_authenticate_v2.py
Due: pylint

fix(auth): correct import for get_rpc_url_for_chain and add unit tests
  api/ceramic_cache/api/v1.py
  api/ceramic_cache/test/test_authenticate_v2.py
Due: pylint

fix(auth): hash message to bytes32 for ERC-6492 isValidSig
  api/ceramic_cache/api/v1.py
Due: pylint

debug: add logging for SIWE message reconstruction
  api/ceramic_cache/api/v1.py
Due: pylint

debug: add signature and contract code logging
  api/ceramic_cache/api/v1.py
Due: pylint

debug: add EOA ecrecover check
  api/ceramic_cache/api/v1.py
Due: pylint

fix(auth): try EOA ecrecover first, fallback to ERC-6492 for smart wallets
  api/ceramic_cache/api/v1.py
Due: pylint

fix(auth): add debug logging and optional SIWE fields for smart wallet support
  api/ceramic_cache/api/v1.py
Due: pylint

fix(auth): add multi-chain ERC-6492 verification fallback for smart wallets
  api/ceramic_cache/api/v1.py
Due: pylint

fix(auth): improve smart wallet debug logging to info level
  api/ceramic_cache/api/v1.py
Due: pylint

fix(auth): move message_hash computation before debug logging
  api/ceramic_cache/api/v1.py
Due: pylint

fix(auth): use deployless ERC-6492 validation for smart wallets
  api/ceramic_cache/api/v1.py
  api/scorer/settings/base.py
Due: pylint

docs: add smart wallet authentication investigation status
  SMART_WALLET_AUTHENTICATION.md
Due: none

fix(auth): hash full EIP-191 prefixed message for smart wallet verification
  api/ceramic_cache/api/v1.py
Due: pylint

fix(auth): use viem's exact ERC-6492 validator bytecode
  api/ceramic_cache/api/v1.py
Due: pylint

feat(auth): add viem-based ERC-6492 verification for smart wallets
  SMART_WALLET_AUTHENTICATION.md
  api/ceramic_cache/api/v1.py
  api/scripts/package-lock.json
  api/scripts/package.json
  api/scripts/verify_erc6492.js
Due: lint interface, pylint

fix(docker): add Node.js for ERC-6492 viem verification
  api/Dockerfile
Due: none

docs: update smart wallet auth status - solution verified, docker pending
  SMART_WALLET_AUTHENTICATION.md
Due: none

feat(debug): add ERC-6492 verification debug script
  api/scripts/debug_erc6492.py
Due: pylint
