Repository passportxyz/passport-scorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint system_tests, lint infra, lint interface, pylint

lint system_tests:
  name: lint system_tests
  entry: .hooks/lint_system_tests.sh
  language: system

lint infra:
  name: lint infra
  entry: .hooks/lint_infra.sh
  language: system

lint interface:
  name: lint interface
  entry: .hooks/lint_interface.sh
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  require_serial: true
  args:
  - --fail-under=8

chore: prettier
  infra/aws/v2/rust-scorer.ts
Due: lint infra, lint interface

chore: wait for rust-scorer for infra preview
  .github/workflows/build_and_deploy_generic.yml
Due: none

chore: wait for rust-scorer for infra preview (#896)
  .github/workflows/build_and_deploy_generic.yml
Due: none

feat: update embed rate limits to match standard rate limits
  api/account/migrations/0045_update_embed_rate_limit_values.py
  api/account/models.py
  api/embed/test/test_lambda_validate_api_key.py
Due: pylint

chore: ruff fix
  api/account/migrations/0045_update_embed_rate_limit_values.py
Due: none

chore: ruff format
  api/account/migrations/0045_update_embed_rate_limit_values.py
  api/account/models.py
Due: pylint

feat: update embed rate limits to match standard rate limits (#897)
  api/account/migrations/0045_update_embed_rate_limit_values.py
  api/account/models.py
  api/embed/test/test_lambda_validate_api_key.py
Due: pylint

chore: quick compare script
  rust-scorer/quick_compare.py
Due: pylint

📜 Update project documentation via Mim
  .claude/knowledge/KNOWLEDGE_MAP.md
  .claude/knowledge/KNOWLEDGE_MAP_CLAUDE.md
  .claude/knowledge/gotchas/django_model_discrepancies.md
Due: none

fix: handle nullable timestamps in ceramic_cache table
  rust-scorer/src/models/django.rs
Due: none

fix: deep comparison
  rust-scorer/quick_compare.py
Due: pylint

📜 Update project documentation via Mim
  .claude/knowledge/KNOWLEDGE_MAP.md
  .claude/knowledge/KNOWLEDGE_MAP_CLAUDE.md
  .claude/knowledge/api/topnav_dashboard_discovery.md
  .claude/knowledge/architecture/partner_dashboards.md
Due: none

feat: add TopNav dashboard discovery API for partner dashboards
  api/account/admin.py
  api/account/api.py
  api/account/migrations/0046_add_topnav_dashboard_fields.py
  api/account/migrations/0047_populate_topnav_dashboards.py
  api/account/models.py
Due: pylint

📜 Update project documentation via Mim
  .claude/knowledge/architecture/partner_dashboards.md
Due: none

feat: add topnav logo
  api/account/admin.py
  api/account/api.py
  api/account/migrations/0046_add_topnav_dashboard_fields.py
  api/account/migrations/0047_populate_topnav_dashboards.py
  api/account/models.py
Due: pylint

feat: add /customization endpoint
  api/account/api.py
Due: pylint

feat(scorer): increase Biometrics and CleanHands stamp weights
  api/scorer/config/gitcoin_passport_weights.py
  api/scorer/settings/gitcoin_passport_weights.py
Due: pylint

feat(scorer): reduce Coinbase stamp weight to 4.042 points
  api/scorer/config/gitcoin_passport_weights.py
  api/scorer/settings/gitcoin_passport_weights.py
Due: pylint

feat: add topnav dashboard info (#898)
  .claude/knowledge/KNOWLEDGE_MAP.md
  .claude/knowledge/KNOWLEDGE_MAP_CLAUDE.md
  .claude/knowledge/api/topnav_dashboard_discovery.md
  .claude/knowledge/architecture/partner_dashboards.md
  api/account/admin.py
  api/account/api.py
  api/account/migrations/0046_add_topnav_dashboard_fields.py
  api/account/migrations/0047_populate_topnav_dashboards.py
  api/account/models.py
Due: pylint

feat: add stamp metadata model and beta badge support (Phase 1)
  api/account/api.py
  api/registry/admin.py
  api/registry/migrations/0059_add_stamp_metadata.py
  api/registry/weight_models.py
Due: pylint

feat: add stampMetadata to generic customization endpoint
  api/account/api.py
Due: pylint

chore: apply code formatting and linting fixes
  api/account/api.py
  api/registry/admin.py
  api/registry/weight_models.py
  install.sh
Due: pylint

fix: formatting
  api/registry/migrations/0059_add_stamp_metadata.py
Due: none

feat: add stamp metadata model and beta badge support (Phase 1) (#901)
  api/account/api.py
  api/registry/admin.py
  api/registry/migrations/0059_add_stamp_metadata.py
  api/registry/weight_models.py
  install.sh
Due: pylint

feat: add Django management command for load testing address export
  api/registry/management/commands/export_addresses_for_load_testing.py
Due: pylint

chore: mim
  .claude/knowledge/KNOWLEDGE_MAP.md
  .claude/knowledge/KNOWLEDGE_MAP_CLAUDE.md
  .claude/knowledge/gotchas/ceramic_cache_v2_never_implemented.md
Due: none

Add feature doc and update project documentation via Mim
  .claude/knowledge/KNOWLEDGE_MAP.md
  .claude/knowledge/KNOWLEDGE_MAP_CLAUDE.md
  .claude/knowledge/architecture/api_endpoint_map.md
  .claude/knowledge/architecture/ceramic_cache_scoring.md
  .claude/knowledge/gotchas/django_conn_max_age_lambda.md
  .claude/knowledge/performance/embed_lambda_issues.md
  RUST_SCORER_EXPANSION_IMPLEMENTATION_GUIDE.md
  RUST_SCORER_SCHEMA_ADDENDUM.md
Due: none

feat: implement Phase 1 embed endpoints for Rust scorer expansion
  RUST_SCORER_EXPANSION_IMPLEMENTATION_GUIDE.md
  rust-scorer/src/api/embed.rs
  rust-scorer/src/api/handler.rs
  rust-scorer/src/api/mod.rs
  rust-scorer/src/api/server.rs
  rust-scorer/src/auth/api_key.rs
  rust-scorer/src/db/ceramic_cache.rs
  rust-scorer/src/db/mod.rs
  rust-scorer/src/db/read_ops.rs
  rust-scorer/src/models/django.rs
  rust-scorer/src/models/v2_api.rs
Due: none

feat: implement Phase 2 ceramic-cache endpoints for Rust scorer
  RUST_SCORER_EXPANSION_IMPLEMENTATION_GUIDE.md
  rust-scorer/Cargo.lock
  rust-scorer/Cargo.toml
  rust-scorer/src/api/ceramic_cache.rs
  rust-scorer/src/api/mod.rs
  rust-scorer/src/api/server.rs
  rust-scorer/src/auth/jwt.rs
  rust-scorer/src/auth/mod.rs
  rust-scorer/src/models/v2_api.rs
Due: none

feat: add Rust scorer infrastructure for embed and ceramic-cache endpoints
  infra/aws/index.ts
  infra/aws/v2/index.ts
  infra/aws/v2/rust-scorer.ts
Due: lint infra, lint interface

fix: correct TypeScript types for Rust scorer infrastructure
  infra/aws/v2/index.ts
  infra/aws/v2/rust-scorer.ts
Due: lint infra, lint interface

chore: skip test step in release workflow for faster staging deploys
  .github/workflows/release_and_deploy_production.yml
Due: none

fix: correct ALB listener rule priorities for Rust embed endpoints
  .claude/knowledge/session.md
  infra/aws/v2/rust-scorer.ts
Due: lint infra, lint interface

fix: create separate target groups for public and internal ALBs
  .claude/knowledge/session.md
  infra/aws/v2/rust-scorer.ts
Due: lint infra, lint interface

chore: temporarily disable preview and approval steps in release workflow
  .github/workflows/build_and_deploy_generic.yml
Due: none

fix: group Rust scorer ALB listener rules in 990s priority range
  infra/aws/v2/rust-scorer.ts
Due: lint infra, lint interface

chore: add Rust dependency caching to CI workflow for faster builds
  .github/workflows/build_and_deploy_generic.yml
Due: none

fix: accept int-as-string or int for scorer_id
  rust-scorer/src/api/embed.rs
  rust-scorer/src/models/tests.rs
  rust-scorer/src/models/v2_api.rs
Due: none

fix: move API key validation from scoring logic to handler level
  rust-scorer/src/api/ceramic_cache.rs
  rust-scorer/src/api/embed.rs
  rust-scorer/src/api/handler.rs
Due: none

Path conditions:
  lint system_tests: any of: ^system_tests/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
  lint infra: any of: ^infra/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
  lint interface: any of: \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
  pylint: any of: \.py$, but not: .*/migrations/.*
