Repository passportxyz/passport-scorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint system_tests, lint infra, lint interface, pylint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: |
          (?x)^(
              ^utils/pdf2jpg.app|
              .*.min.css|
              .*.min.js
          )

      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              ^utils/pdf2jpg.app|
              .*.min.css|
              .*.min.js
          )

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.8
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format

  - repo: local
    hooks:
      - id: lint system_tests
        name: lint system_tests
        entry: .hooks/lint_system_tests.sh
        language: system
        files: ^system_tests/
        types_or:
          - ts
          - javascript
          - json

  - repo: local
    hooks:
      - id: lint infra
        name: lint infra
        entry: .hooks/lint_infra.sh
        language: system
        files: ^infra/
        types_or:
          - ts
          - javascript
          - json

  - repo: local
    hooks:
      - id: lint interface
        name: lint interface
        entry: .hooks/lint_interface.sh
        language: system
        types_or:
          - ts
          - javascript
          - json

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        require_serial: true
        exclude: .*/migrations/.*
        args:
          - --fail-under=8

feat: only create missing items when starting the processing
  api/registry/management/commands/process_batch_model_address_upload.py
Due: pylint

feat: adding also trigger file to model
  api/registry/management/commands/process_batch_model_address_upload.py
  api/registry/models.py
  api/scorer/settings/base.py
Due: pylint

feat: adjust monitoring parameters for sustained traffic on score stamp v2
  infra/aws/index.ts
Due: lint infra, lint interface

feat: adding buttons to trigger processing from the admin UI
  api/registry/admin.py
  api/registry/management/commands/process_batch_model_address_upload.py
  api/registry/migrations/0047_batchmodelscoringrequest_input_addresses_file_and_more.py
  api/registry/migrations/0048_alter_batchmodelscoringrequest_input_addresses_file_and_more.py
  api/registry/migrations/0049_alter_batchmodelscoringrequestitem_batch_scoring_request_and_more.py
  api/registry/models.py
  api/registry/templates/admin/registry/batchmodelscoringrequest/change_form_object_tools.html
  api/registry/templates/admin/registry/batchmodelscoringrequest/custom_action_confirm.html
  infra/lib/scorer/s3_initiated_ecs_task.ts
Due: lint infra, lint interface, pylint

feat: removing some of the failing tests for batch processing
  api/registry/management/commands/process_batch_model_address_upload.py
  api/scorer/settings/base.py
  api/v2/test/test_command_process_batch_address_upload.py
Due: pylint

feat: reworking the processing of batch model scoring requests (#859)
  api/registry/admin.py
  api/registry/management/commands/process_batch_model_address_upload.py
  api/registry/migrations/0047_batchmodelscoringrequest_input_addresses_file_and_more.py
  api/registry/models.py
  api/registry/templates/admin/registry/batchmodelscoringrequest/change_form_object_tools.html
  api/registry/templates/admin/registry/batchmodelscoringrequest/custom_action_confirm.html
  api/registry/templates/registry/batch_model_scoring_request_changelist.html
  api/scorer/settings/base.py
  api/scorer/settings/model_config.py
  api/v2/test/test_command_process_batch_address_upload.py
  infra/lib/scorer/s3_initiated_ecs_task.ts
Due: lint infra, lint interface, pylint

fix: adding back previously commented tests
  api/v2/test/test_command_process_batch_address_upload.py
Due: pylint

feat: make s3_filename read-only
  api/registry/admin.py
Due: pylint

fix: error logging, initialise vars before using them in except block, keep the old legacy bucket
  api/registry/management/commands/process_batch_model_address_upload.py
  infra/aws/index.ts
  infra/lib/scorer/s3_initiated_ecs_task.ts
Due: lint infra, lint interface, pylint

fix: misconfiguration in admin
  api/registry/admin.py
Due: pylint

fix: adding back previously commented tests (#861)
  api/registry/admin.py
  api/registry/management/commands/process_batch_model_address_upload.py
  api/v2/test/test_command_process_batch_address_upload.py
  infra/aws/index.ts
  infra/lib/scorer/s3_initiated_ecs_task.ts
Due: lint infra, lint interface, pylint

fix: adding indexing to status in batch request models + fix counting of processed requests
  api/registry/management/commands/process_batch_model_address_upload.py
  api/registry/migrations/0048_alter_batchmodelscoringrequest_status_and_more.py
  api/registry/models.py
Due: pylint

fix: updating profress in batch processing
  api/registry/management/commands/process_batch_model_address_upload.py
Due: pylint

feat: adjust monitoring parameters for sustained traffic on score stamp v2 (#860)
  infra/aws/index.ts
Due: lint infra, lint interface

fix: adding indexing to status in batch request models + fix counting… (#862)
  api/registry/management/commands/process_batch_model_address_upload.py
  api/registry/migrations/0048_alter_batchmodelscoringrequest_status_and_more.py
  api/registry/models.py
Due: pylint

feat(api): using v2 score response for ceramic cache API (#814)
  api/aws_lambdas/scorer_api_passport/tests/test_bulk_stamp_lambdas.py
  api/aws_lambdas/scorer_api_passport/tests/test_stamp_lambdas.py
  api/ceramic_cache/api/schema.py
  api/ceramic_cache/api/v1.py
  api/ceramic_cache/test/test_bulk_updates_v1.py
  api/ceramic_cache/test/test_get_score.py
  api/internal/api.py
  api/v2/api/api_stamps.py
Due: pylint

feat) add support DEMO_API_KEY
  api/aws_lambdas/utils.py
  api/registry/api/utils.py
  api/scorer/settings/base.py
Due: pylint

fix: adding default value for new settings
  api/scorer/settings/base.py
Due: pylint

feat: adding support for demo scorer id
  api/v2/api/api_stamps.py
  api/v2/aws_lambdas/stamp_score_GET.py
Due: pylint

fix: failing tests
  api/account/admin.py
  api/v2/api/api_stamps.py
  api/v2/aws_lambdas/stamp_score_GET.py
Due: pylint

feat: add handling for demo api scorer id
  api/embed/api.py
  api/embed/lambda_fn.py
Due: pylint

feat) add support DEMO_API_KEY (#863)
  api/account/admin.py
  api/aws_lambdas/utils.py
  api/embed/api.py
  api/embed/lambda_fn.py
  api/registry/api/utils.py
  api/scorer/settings/base.py
  api/v2/api/api_stamps.py
  api/v2/aws_lambdas/stamp_score_GET.py
Due: pylint

feat: adding title field for custom dashboard panel
  api/account/admin.py
  api/account/api.py
  api/account/migrations/0042_customization_custom_dashboard_panel_title.py
  api/account/models.py
Due: pylint

doc: feature docs for human points tracking
  human-points-django-spec.md
  human-points-indexer-spec.md
Due: none

feat(api): add Django models and admin for Human Points tracking
  api/account/admin.py
  api/account/migrations/0042_community_human_points_program.py
  api/account/models.py
  api/registry/admin.py
  api/registry/migrations/0049_humanpointprogramstats_humanpointsmultiplier_and_more.py
  api/registry/migrations/0050_humanpoints_unique_constraints.py
  api/registry/models.py
  human-points-indexer-spec.md
Due: pylint

doc: clarify critical indexer requirements for Human Points
  human-points-indexer-spec.md
Due: none

test: add Human Points tracking tests
  api/registry/test/test_human_points_api_response.py
  api/registry/test/test_human_points_constraints.py
  api/registry/test/test_human_points_models.py
  api/registry/test/test_human_points_scoring_integration.py
  human-points-django-spec.md
Due: pylint

refactor: replace HumanPointProgramStats with HumanPointProgramScores
  api/registry/admin.py
  api/registry/migrations/0051_human_points_refactor.py
  api/registry/models.py
  api/registry/test/test_human_points_api_response.py
  api/registry/test/test_human_points_constraints.py
  api/registry/test/test_human_points_models.py
  api/registry/test/test_human_points_scoring_integration.py
Due: pylint

updated docs, tests
  api/registry/test/test_human_points_api_response.py
  api/registry/test/test_human_points_constraints.py
  api/registry/test/test_human_points_models.py
  api/registry/test/test_human_points_scoring_integration.py
  human-points-django-spec.md
  human-points-indexer-spec.md
Due: pylint

finalizing models
  api/registry/admin.py
  api/registry/migrations/0052_humanpointsconfig_remove_humanpoints_chain_id_and_more.py
  api/registry/migrations/0053_rename_humanpointprogramscores.py
  api/registry/migrations/0054_remove_humanpointsconfig_effective_date.py
  api/registry/models.py
  api/registry/test/test_human_points_models.py
Due: pylint

feat: implement Human Points tracking in scoring flow
  api/ceramic_cache/api/v1.py
  api/registry/atasks.py
  api/registry/human_points_utils.py
  api/registry/migrations/0055_fix_humanpoints_unique_constraints.py
  api/registry/test/test_human_points_api_response.py
  api/registry/test/test_human_points_constraints.py
  api/registry/test/test_human_points_scoring_integration.py
  api/v2/api/api_stamps.py
  api/v2/schema.py
Due: pylint

feat: adding title field for custom dashboard panel (#865)
  api/account/admin.py
  api/account/api.py
  api/account/migrations/0042_customization_custom_dashboard_panel_title.py
  api/account/models.py
Due: pylint

refactor: consolidate Human Points migrations into single file
  api/registry/migrations/0049_humanpointprogramstats_humanpointsmultiplier_and_more.py
  api/registry/migrations/0049_humanpoints_models.py
  api/registry/migrations/0050_humanpoints_unique_constraints.py
  api/registry/migrations/0051_human_points_refactor.py
  api/registry/migrations/0052_humanpointsconfig_remove_humanpoints_chain_id_and_more.py
  api/registry/migrations/0053_rename_humanpointprogramscores.py
  api/registry/migrations/0054_remove_humanpointsconfig_effective_date.py
  api/registry/migrations/0055_fix_humanpoints_unique_constraints.py
  api/registry/test/test_human_points_constraints.py
  human-points-django-spec.md
Due: pylint

feat: complete Human Points implementation with feature flag and tooling
  api/ceramic_cache/api/v1.py
  api/registry/atasks.py
  api/registry/fixtures/human_points_config.json
  api/registry/human_points_utils.py
  api/registry/management/commands/backfill_human_points_multipliers.py
  api/registry/migrations/0050_populate_human_points_config.py
  api/scorer/settings/feature_flags.py
  api/v2/api/api_stamps.py
  human-points-django-spec.md
Due: lint interface, pylint

fix: correct human key action logging
  api/registry/human_points_utils.py
  api/registry/test/test_human_points_scoring_integration.py
Due: pylint

perf: optimize human points queries for efficiency
  api/registry/human_points_utils.py
Due: pylint

cleanup
  api/registry/admin.py
  api/registry/atasks.py
  api/registry/management/commands/backfill_human_points_multipliers.py
  api/registry/models.py
  api/registry/test/test_human_points_binary_scoring_fix.py
  api/registry/test/test_human_points_scoring_integration.py
Due: pylint

feat: add chain_id field to HumanPoints model for tracking mint chains
  api/registry/migrations/0049_humanpoints_models.py
  api/registry/models.py
  human-points-django-spec.md
Due: pylint

cleanup
  api/registry/models.py
  api/scorer/settings/feature_flags.py
Due: pylint

cleanup
  api/.env-sample
  api/ceramic_cache/api/v1.py
  api/registry/models.py
  api/registry/test/test_human_points_api_response.py
  api/v2/api/api_stamps.py
Due: pylint
