Repository passportxyz/passport-scorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint system_tests, lint infra, lint interface, pylint

lint system_tests:
  name: lint system_tests
  entry: .hooks/lint_system_tests.sh
  language: system

lint infra:
  name: lint infra
  entry: .hooks/lint_infra.sh
  language: system

lint interface:
  name: lint interface
  entry: .hooks/lint_interface.sh
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  require_serial: true
  args:
  - --fail-under=8

📜 Update project documentation via Mim
  .claude/knowledge/KNOWLEDGE_MAP.md
  .claude/knowledge/KNOWLEDGE_MAP_CLAUDE.md
  .claude/knowledge/gotchas/performance_analysis.md
  .claude/knowledge/session.md
Due: none

📜 Update project documentation via Mim
  .claude/knowledge/KNOWLEDGE_MAP.md
  .claude/knowledge/KNOWLEDGE_MAP_CLAUDE.md
  .claude/knowledge/config/opentelemetry.md
  .claude/knowledge/deployment/lambda_infrastructure.md
Due: none

fix: Update AWS OTEL Lambda layer to latest version (0.117.0)
  infra/aws/index.ts
  infra/aws/v2/rust-scorer.ts
Due: lint infra, lint interface

fix: Add ARM64 architecture specification to Rust Lambda
  infra/aws/v2/rust-scorer.ts
  infra/lib/scorer/new_service.ts
Due: lint infra, lint interface

🧹 Distill documentation: auto-clean duplicates and conflicts
  .claude/knowledge/KNOWLEDGE_MAP.md
  .claude/knowledge/KNOWLEDGE_MAP_CLAUDE.md
  .claude/knowledge/api/human_points.md
  .claude/knowledge/gotchas/django_model_discrepancies.md
  .claude/knowledge/gotchas/event_data_structure.md
  .claude/knowledge/gotchas/nullifier_handling.md
  .claude/knowledge/patterns/deduplication.md
  distill-report.md
Due: none

chore: Clean up rust-scorer for production readiness
  rust-scorer/COLLECTOR_FIX.md
  rust-scorer/JAEGER_ISSUE.md
  rust-scorer/TELEMETRY_SETUP.md
  rust-scorer/TELEMETRY_STATUS.md
  rust-scorer/TESTING.md
  rust-scorer/docker-compose.yml
  rust-scorer/src/api/handler.rs
  rust-scorer/src/api/server.rs
  rust-scorer/src/bin/test_telemetry.rs
  rust-scorer/src/main.rs
  rust-scorer/tests/integration_test.rs
Due: none

fix: Add force flags to build script to prevent interactive prompts
  rust-scorer/scripts/build-lambda-zip.sh
Due: none

fix: Use Zig cross-compilation for Rust Lambda to fix glibc mismatch
  .github/workflows/build_and_deploy_generic.yml
Due: none

refactor: Add Makefile for official Lambda build process
  .github/workflows/build_and_deploy_generic.yml
  rust-scorer/Makefile
  rust-scorer/scripts/build-lambda-zip.sh
  rust-scorer/scripts/test-collector-config.sh
  rust-scorer/scripts/test-otel-direct.sh
  rust-scorer/scripts/test-telemetry.sh
  rust-scorer/scripts/verify-lambda-package.sh
Due: none

fix: Add debug wrapper to OTEL exporter to diagnose export issues
  rust-scorer/src/api/server.rs
  rust-scorer/test-otel-direct.sh
Due: none

fix: Correct artifact path to use package name (passport-scorer) instead of directory name
  .github/workflows/build_and_deploy_generic.yml
Due: none

fix: Add SSL mode to database connections for RDS Proxy
  rust-scorer/src/api/server.rs
Due: none

fix: Remove non-existent force_flush call that broke compilation
  rust-scorer/src/api/handler.rs
Due: none

fix: Hardcode OTLP endpoints based on environment detection
  infra/aws/v2/rust-scorer.ts
  rust-scorer/src/api/server.rs
  rust-scorer/src/bin/test_telemetry.rs
Due: lint infra, lint interface

📜 Update project documentation via Mim
  .claude/knowledge/KNOWLEDGE_MAP.md
  .claude/knowledge/KNOWLEDGE_MAP_CLAUDE.md
  .claude/knowledge/gotchas/human_points_provider_handling.md
  .claude/knowledge/session.md
Due: none

feat: Implement SHA-256 fast path for API key verification in Rust
  API_KEY_PERFORMANCE_FIX.md
  rust-scorer/src/api/handler.rs
  rust-scorer/src/auth/api_key.rs
  rust-scorer/src/models/django.rs
Due: none

fix: Use SimpleSpanProcessor in Lambda for immediate trace export
  rust-scorer/src/api/server.rs
Due: none

feat: Add comprehensive tracing instrumentation for performance analysis
  rust-scorer/src/api/handler.rs
  rust-scorer/src/auth/api_key.rs
  rust-scorer/src/bin/log-analyzer.rs
  rust-scorer/src/bin/pbkdf2-benchmark.rs
Due: none

test: Add telemetry testing utilities and fix zip packaging
  rust-scorer/build-lambda-zip.sh
  rust-scorer/docker-compose.jaeger.yml
  rust-scorer/src/bin/test_telemetry.rs
  rust-scorer/test-telemetry.sh
Due: none

debug: Add logging to diagnose Rust scorer artifact path resolution
  infra/aws/index.ts
Due: lint infra, lint interface

chore: more tracing
  rust-scorer/src/db/read_ops.rs
  rust-scorer/src/db/write_ops.rs
  rust-scorer/src/secrets.rs
Due: none

📜 Update project documentation via Mim
  .claude/knowledge/KNOWLEDGE_MAP.md
  .claude/knowledge/KNOWLEDGE_MAP_CLAUDE.md
  .claude/knowledge/gotchas/trusted_iam_issuers.md
Due: none

Revert "fix: Use 1-second batch interval for OTEL in Lambda environment"
  rust-scorer/src/api/server.rs
Due: none

fix: Load TRUSTED_IAM_ISSUERS from environment variable
  rust-scorer/src/auth/credentials.rs
Due: none

docs: Add TODO to verify if force flush is necessary in Lambda
  rust-scorer/src/api/handler.rs
Due: none

fix: Use 1-second batch interval for OTEL in Lambda environment
  rust-scorer/src/api/server.rs
Due: none

🎯 Apply user-guided documentation refinements
  .claude/knowledge/KNOWLEDGE_MAP.md
  .claude/knowledge/KNOWLEDGE_MAP_CLAUDE.md
  .claude/knowledge/api/database_signatures.md
  .claude/knowledge/api/human_points.md
  .claude/knowledge/architecture/scoring_flow.md
  .claude/knowledge/deployment/lambda_infrastructure.md
  .claude/knowledge/gotchas/django_model_discrepancies.md
  .claude/knowledge/gotchas/human_points_implementation.md
  .claude/knowledge/gotchas/score_calculation.md
  .claude/knowledge/gotchas/type_conversions.md
  .claude/scripts/mim
  distill-report.md
Due: none

refactor: Simplify OpenTelemetry initialization logging
  rust-scorer/src/api/server.rs
Due: none

fix: Update collector.yaml to use 'debug' exporter for ADOT v0.117.0
  rust-scorer/collector.yaml
Due: none

feat: Create IAM policy for AWS OTEL layer access in Pulumi
  infra/aws/index.ts
Due: lint infra, lint interface

fix: Remove invalid loglevel field from logging exporter in collector.yaml
  rust-scorer/collector.yaml
Due: none

chore: update mim
  .claude/knowledge/INSTRUCTIONS.md
  .claude/servers/mim.cjs
  .claude/servers/mim.js
  .mcp.json
Due: lint interface

fix: Correct Rust scorer artifact path to go up two levels from infra/aws/
  infra/aws/index.ts
Due: lint infra, lint interface

📜 Update project documentation via Mim
  .claude/knowledge/KNOWLEDGE_MAP.md
  .claude/knowledge/api/human_points.md
  .claude/knowledge/architecture/scoring_flow.md
  .claude/knowledge/gotchas/human_points_implementation.md
Due: none

feat: Add GetLayerVersionByArn to OTEL layer access policy
  infra/aws/index.ts
Due: lint infra, lint interface

fix: Upgrade artifact actions from v3 to v4
  .github/workflows/build_and_deploy_generic.yml
Due: none

feat: Add nested spans to raw OTLP test - shows parent-child relationships
  rust-scorer/src/bin/fuck_it_raw_otlp.rs
Due: none

📜 Update project documentation via Mim
  .claude/knowledge/KNOWLEDGE_MAP.md
  .claude/knowledge/KNOWLEDGE_MAP_CLAUDE.md
  .claude/knowledge/api/authentication.md
  .claude/knowledge/database/field_types.md
  .claude/knowledge/database/scorer_tables.md
  .claude/knowledge/gotchas/scorer_id_confusion.md
Due: none

refactor: Remove demo API key functionality from rust-scorer
  rust-scorer/src/auth/api_key.rs
Due: none

refactor: Remove unused include_human_points query parameter
  rust-scorer/src/api/handler.rs
  rust-scorer/tests/integration_test.rs
Due: none

Path conditions:
  lint system_tests: any of: ^system_tests/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
  lint infra: any of: ^infra/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
  lint interface: any of: \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
  pylint: any of: \.py$, but not: .*/migrations/.*
