Repository passportxyz/passport-scorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint system_tests, lint infra, lint interface, pylint

lint system_tests:
  name: lint system_tests
  entry: .hooks/lint_system_tests.sh
  language: system

lint infra:
  name: lint infra
  entry: .hooks/lint_infra.sh
  language: system

lint interface:
  name: lint interface
  entry: .hooks/lint_interface.sh
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  require_serial: true
  args:
  - --fail-under=8

chore: remove session.md additions from branch
  .claude/knowledge/session.md
Due: none

feat: add wallet_stamps and source_wallet tracking to linked score response
  api/account/test/test_wallet_groups.py
  api/v2/api/api_stamps.py
  api/v2/schema.py
Due: pylint

fix(api): scope migrations to their owning database
  api/scorer/db_router.py
Due: pylint

feat(api): internal endpoints to automate batch model scoring runs
  api/internal/api.py
  api/registry/admin.py
  api/registry/api/batch_model_scoring.py
  api/registry/api/schema.py
  api/registry/models.py
Due: pylint

chore: remove unused Coinbase revocation check job
  api/ceramic_cache/management/commands/check_coinbase_revocations.py
  api/ceramic_cache/test/test_cmd_check_coinbase_revocations.py
  infra/aws/index.ts
Due: lint infra, lint interface, pylint

ci: migrate Pulumi workflows to OIDC + S3 state backend
  .github/workflows/build_and_deploy_generic.yml
  .github/workflows/deploy_generic.yml
  .github/workflows/infra.yml
  .github/workflows/sync_to_s3_generic_build_app.yml
  .github/workflows/sync_to_s3_generic_push_app.yml
Due: none

fix(api): drop redundant auth on batch-model-scoring endpoints
  api/internal/api.py
Due: pylint

infra: retarget StackReferences for S3 backend
  infra/aws/index.ts
  infra/ops/index.ts
Due: lint infra, lint interface

feat(api): internal endpoints to automate batch model scoring runs (#933)
  api/internal/api.py
  api/registry/admin.py
  api/registry/api/batch_model_scoring.py
  api/registry/api/schema.py
  api/registry/models.py
  api/scorer/db_router.py
Due: pylint

chore: pulumi state secrets provider
  infra/aws/Pulumi.staging.yaml
  infra/ops/Pulumi.staging.yaml
Due: none

chore: pulumi state secrets provider (#937)
  infra/aws/Pulumi.staging.yaml
  infra/ops/Pulumi.staging.yaml
Due: none

fix(infra): let infra.yml preview/refresh without rust-scorer artifact
  .github/workflows/infra.yml
  infra/aws/index.ts
  infra/aws/v2/index.ts
  infra/aws/v2/rust-scorer.ts
Due: lint infra, lint interface

infra: commit Pulumi.production.yaml secrets-provider config
  infra/aws/Pulumi.production.yaml
  infra/ops/Pulumi.production.yaml
Due: none

ci(infra): add dispatch workflow for passport-scorer-ops stack
  .github/workflows/infra_ops.yml
Due: none

ci(infra): add dispatch workflow for passport-scorer-ops stack (#940)
  .github/workflows/infra_ops.yml
Due: none

fix(infra): drop cross-repo core-infra clone in S3 sync workflow
  .github/workflows/sync_to_s3_generic_push_app.yml
  infra/aws/index.ts
Due: lint infra, lint interface

refactor(account): reshape WalletGroupCommunityClaim, drop WalletGroup models
  api/account/admin.py
  api/account/migrations/0055_walletgroup_models.py
  api/account/migrations/0056_add_canonical_address_index.py
  api/account/models.py
Due: pylint

refactor(account): remove wallet-linking endpoints (moved to Silk)
  api/account/api.py
  api/account/api_wallet_groups.py
Due: pylint

refactor(scoring): introduce linkage source stub
  api/account/linkage.py
  api/v2/api/api_stamps.py
Due: pylint

refactor(rust-scorer): mirror linkage stub, drop get_wallet_group query
  rust-scorer/src/account/linkage.rs
  rust-scorer/src/account/mod.rs
  rust-scorer/src/db/queries/wallet_groups.rs
  rust-scorer/src/domain/scoring.rs
  rust-scorer/src/lib.rs
Due: none

test: drop fixtures for moved endpoints, mock linkage source
  api/account/test/test_wallet_groups.py
Due: pylint

fix(infra): make Push to S3 wait on deploy_backends
  .github/workflows/build_and_deploy_generic.yml
Due: none

fix(infra): build rust scorer for prod releases so prod actually deploys
  .github/workflows/release_and_deploy_production.yml
Due: none

fix(ci): migrate Docker→ECR push to OIDC (build_and_push@v5)
  .github/workflows/build_and_deploy_generic.yml
Due: none

chore: fix ruff I001 in test_wallet_groups.py
  api/account/test/test_wallet_groups.py
Due: pylint

feat(scorer): wire get_linked_addresses to Silk (#589)
  api/account/linkage.py
  api/account/test/test_wallet_groups.py
  api/scorer/settings/base.py
  rust-scorer/Cargo.lock
  rust-scorer/Cargo.toml
  rust-scorer/src/account/linkage.rs
  rust-scorer/src/domain/scoring.rs
Due: pylint

refactor(scorer): linkage cleanup from /simplify
  api/account/linkage.py
  rust-scorer/src/account/linkage.rs
Due: pylint

feat: replace Intercom with Iris chat widget; remove Intercom backend HMAC
  api/ceramic_cache/api/schema.py
  api/ceramic_cache/api/v1.py
  api/ceramic_cache/test/test_authenticate_v2.py
  api/scorer/settings/base.py
  interface/.env.example
  interface/pages/_app.tsx
  interface/pages/_document.tsx
Due: pylint

cost: remove read_replica_analytics dump tasks (Redshift teardown)
  infra/aws/index.ts
Due: lint infra, lint interface

cost: remove read_replica_analytics dump tasks (Redshift teardown) (#948)
  infra/aws/index.ts
Due: lint infra, lint interface

chore: ci probe
  .github/workflows/vg-passport-scorer.yml
Due: none

chore: ci probe (#949)
  .github/workflows/vg-passport-scorer.yml
Due: none

chore: remove ci probe
  .github/workflows/vg-passport-scorer.yml
Due: none

chore: remove ci probe (#950)
  .github/workflows/vg-passport-scorer.yml
Due: none

chore: ci probe (#951)
  .github/workflows/vg-passport-scorer.yml
Due: none

chore: remove ci probe (#952)
  .github/workflows/vg-passport-scorer.yml
Due: none

fix: replace the retired api.scorer.gitcoin.co host with api.passport.xyz
  Readme.md
  api/registry/bulk-mbd-analysis.md
  examples/airdrop/pages/api/airdrop/add/[scorer_id]/[address].js
  examples/airdrop/pages/api/scorer-message.js
  examples/airdrop/pages/api/submit-passport.js
  examples/check-trusted-user-app/app/boilerplate.tsx
  examples/check-trusted-user-app/app/page.tsx
  examples/example-score-a-passport/index.html
  examples/passport-gated-content-app/src/app/boilerplate.tsx
  examples/passport-gated-content-app/src/app/page.tsx
  examples/score-gating/pages/api/score/[scorer_id]/[address].js
  examples/score-gating/pages/api/scorer-message.js
  examples/score-gating/pages/api/submit-passport.js
  examples/score-showcase/pages/api/score/[scorer_id]/[address].js
  examples/score-showcase/pages/api/scorer-message.js
  examples/score-showcase/pages/api/submit-passport.js
  examples/stamp-collector/src/app/boilerplate.tsx
  examples/stamp-collector/src/app/page.tsx
  interface/components/Dashboard.tsx
Due: lint interface

Path conditions:
  lint system_tests: any of: ^system_tests/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
  lint infra: any of: ^infra/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
  lint interface: any of: \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
  pylint: any of: \.py$, but not: .*/migrations/.*
