Repository passportxyz/passport-scorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint system_tests, lint infra, lint interface, pylint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: |
          (?x)^(
              ^utils/pdf2jpg.app|
              .*.min.css|
              .*.min.js
          )

      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              ^utils/pdf2jpg.app|
              .*.min.css|
              .*.min.js
          )

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.8
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format

  - repo: local
    hooks:
      - id: lint system_tests
        name: lint system_tests
        entry: .hooks/lint_system_tests.sh
        language: system
        files: ^system_tests/
        types_or:
          - ts
          - javascript
          - json

  - repo: local
    hooks:
      - id: lint infra
        name: lint infra
        entry: .hooks/lint_infra.sh
        language: system
        files: ^infra/
        types_or:
          - ts
          - javascript
          - json

  - repo: local
    hooks:
      - id: lint interface
        name: lint interface
        entry: .hooks/lint_interface.sh
        language: system
        types_or:
          - ts
          - javascript
          - json

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        require_serial: true
        exclude: .*/migrations/.*
        args:
          - --fail-under=8

reorg tests
  indexer/Cargo.toml
  indexer/e2e_tests/common/event_emitter.rs
  indexer/e2e_tests/common/mod.rs
  indexer/e2e_tests/e2e_tests.rs
  indexer/e2e_tests/src/Counter.sol
  indexer/e2e_tests/test/Counter.t.sol
Due: none

feat(indexer): implement Human Points event tracking
  human-points-indexer-spec.md
  indexer/src/human_points_indexer.rs
  indexer/src/main.rs
  indexer/src/postgres.rs
  indexer/src/sql_generation.rs
  indexer/test-plan.md
Due: none

checkpoint
  human-points-indexer-spec.md
Due: none

cleanup
  api/.env-sample
  api/ceramic_cache/api/v1.py
  api/registry/models.py
  api/registry/test/test_human_points_api_response.py
  api/v2/api/api_stamps.py
Due: pylint

feat: working tests
  indexer/anvil-testing-plan.md
  indexer/src/utils.rs
  indexer/test-indexer.sh
  indexer/test-output.log
  indexer/tests/common/event_emitter.rs
  indexer/tests/common/mod.rs
  indexer/tests/e2e_tests.rs
Due: none

feat(indexer): implement unified indexer architecture
  human-points-indexer-spec.md
  indexer/src/main.rs
  indexer/src/postgres.rs
  indexer/src/unified_indexer.rs
Due: none

feat(indexer): integrate unified indexer in main.rs
  human-points-indexer-spec.md
  indexer/src/main.rs
Due: none

fix: correct human key action logging
  api/registry/human_points_utils.py
  api/registry/test/test_human_points_scoring_integration.py
Due: pylint

cleanup
  indexer/anvil-testing-plan.md
  indexer/test-failure-details.txt
  indexer/test-multiple-withdraw-debug.log
  indexer/test-one.sh
  indexer/test-plan.md
  indexer/test_human_points_output.txt
Due: none

test(indexer): added unit tests, plan for full tests with anvil and DB
  indexer/anvil-testing-plan.md
  indexer/src/postgres.rs
  indexer/src/utils.rs
Due: none

test: adding integration tests
  indexer/Cargo.lock
  indexer/Cargo.toml
  indexer/anvil-testing-plan.md
  indexer/contracts/test/EventEmitter.sol
  indexer/test-indexer.sh
  indexer/tests/common/event_emitter.rs
  indexer/tests/common/mod.rs
  indexer/tests/e2e_tests.rs
  indexer/tests/run_e2e_tests.py
Due: pylint

refactor(indexer): extract chain configuration and remove obsolete code
  indexer/src/chain_config.rs
  indexer/src/human_points_indexer.rs
  indexer/src/main.rs
Due: none

feat: complete Human Points implementation with feature flag and tooling
  api/ceramic_cache/api/v1.py
  api/registry/atasks.py
  api/registry/fixtures/human_points_config.json
  api/registry/human_points_utils.py
  api/registry/management/commands/backfill_human_points_multipliers.py
  api/registry/migrations/0050_populate_human_points_config.py
  api/scorer/settings/feature_flags.py
  api/v2/api/api_stamps.py
  human-points-django-spec.md
Due: lint interface, pylint

cleanup, test fixes
  api/ceramic_cache/api/schema.py
  api/ceramic_cache/api/v1.py
  api/ceramic_cache/test/test_bulk_updates_v1.py
  api/ceramic_cache/test/test_get_score.py
  api/registry/human_points_utils.py
  api/registry/migrations/0049_humanpoints_models.py
  api/registry/test/conftest.py
  api/registry/test/test_human_points_api_response.py
  api/registry/test/test_human_points_binary_scoring_fix.py
  api/registry/test/test_human_points_models.py
  api/registry/test/test_human_points_scoring_integration.py
  api/v2/api/api_stamps.py
Due: pylint

feat: add chain_id field to HumanPoints model for tracking mint chains
  api/registry/migrations/0049_humanpoints_models.py
  api/registry/models.py
  human-points-django-spec.md
Due: pylint

checkpoint
  indexer/anvil-testing-plan.md
  indexer/contracts/test/EventEmitter.sol
  indexer/src/Counter.sol
  indexer/src/main.rs
  indexer/src/postgres.rs
  indexer/src/unified_indexer.rs
  indexer/test-indexer.sh
  indexer/test-one.sh
  indexer/test-output.log
  indexer/test/Counter.t.sol
  indexer/test_human_points_output.txt
  indexer/tests/common/event_emitter.rs
  indexer/tests/common/mod.rs
  indexer/tests/e2e_tests.rs
Due: none

fmt
  indexer/src/chain_config.rs
  indexer/src/legacy_staking_indexer.rs
  indexer/src/main.rs
  indexer/src/postgres.rs
  indexer/src/unified_indexer.rs
  indexer/src/utils.rs
Due: none

cleanup
  .github/workflows/indexer-tests.yml
  human-points-django-spec.md
  human-points-indexer-spec.md
Due: none

removed unused code
  indexer/src/main.rs
  indexer/src/postgres.rs
  indexer/src/sql_generation.rs
  indexer/src/unified_indexer.rs
Due: none

cleanup
  indexer/src/chain_config.rs
  indexer/src/main.rs
  indexer/src/postgres.rs
  indexer/src/staking_indexer.rs
  indexer/src/unified_indexer.rs
Due: none

feat(indexer): implement test framework for Human Points indexer
  human-points-indexer-spec.md
  indexer/src/main.rs
  indexer/src/postgres.rs
  indexer/src/sql_generation.rs
  indexer/src/staking_indexer.rs
Due: none

test fixes
  api/embed/test/test_api_get_score.py
  api/embed/test/test_api_stamps.py
  api/embed/test/test_lambda_get_score.py
  api/embed/test/test_lambda_stamps.py
  api/registry/test/test_human_points_api_response.py
  api/registry/test/test_human_points_binary_scoring_fix.py
  api/registry/test/test_human_points_constraints.py
  api/registry/test/test_human_points_models.py
  api/registry/test/test_human_points_scoring_integration.py
  api/v2/test/test_passport_submission.py
Due: pylint

chore: adding foundry files and cleaning up
  indexer/Readme.md
  indexer/e2e_tests/.gitignore
  indexer/e2e_tests/contracts/test/EventEmitter.sol
  indexer/e2e_tests/foundry.toml
  indexer/e2e_tests/script/Counter.s.sol
  indexer/e2e_tests/src/Counter.sol
  indexer/e2e_tests/test/Counter.t.sol
  indexer/test-failure-details.txt
  indexer/test-indexer.sh
  indexer/test-multiple-withdraw-debug.log
  indexer/test-one.sh
Due: none

refactor: clean up test framework and create clear testing plan
  indexer/Cargo.lock
  indexer/Cargo.toml
  indexer/src/postgres.rs
  indexer/src/staking_indexer.rs
  indexer/test-plan.md
Due: none

cleanup
  api/registry/models.py
  api/scorer/settings/feature_flags.py
Due: pylint

chore:format/lint
  api/account/migrations/0042_community_human_points_program.py
  api/account/models.py
  api/account/test/test_community.py
  api/ceramic_cache/api/schema.py
  api/ceramic_cache/api/v1.py
  api/ceramic_cache/test/test_get_score.py
  api/registry/human_points_utils.py
  api/registry/migrations/0049_humanpoints_models.py
  api/registry/migrations/0050_populate_human_points_config.py
  api/registry/test/conftest.py
  api/registry/test/test_human_points_api_response.py
  api/registry/test/test_human_points_constraints.py
  api/registry/test/test_human_points_models.py
  api/registry/test/test_human_points_scoring_integration.py
  api/registry/test/test_score_passport.py
  api/scorer/test/conftest.py
  api/scorer/test/test_deduplication.py
  api/scorer_weighted/migrations/0005_weightedscorer_threshold.py
  api/scorer_weighted/models.py
  api/v2/api/api_stamps.py
  api/v2/test/test_command_recalculate_scores.py
Due: pylint

chore: migration merge fix
  api/account/migrations/0043_community_human_points_program.py
  api/registry/migrations/0049_humanpoints_models.py
  api/registry/migrations/0051_rename_registry_hu_chain_id_action_idx_registry_hu_chain_i_646b64_idx_and_more.py
Due: none

chore: test env var fix
  api/registry/test/test_human_points_api_response.py
Due: pylint

chore: minor indexer fixes
  indexer/Cargo.toml
  indexer/src/legacy_staking_indexer.rs
  indexer/src/postgres.rs
  indexer/src/unified_indexer.rs
Due: none

feat: remove CERAMIC_CACHE_SCORER_ID_CONFG from infa
  infra/aws/index.ts
  infra/aws/v2/index.ts
Due: lint infra, lint interface

feat: adding index for HumanPointsConfig.active, updating definition for address field
  api/registry/migrations/0052_alter_humanpoints_address_and_more.py
  api/registry/models.py
Due: pylint

feat: add threshold to customisation api response
  api/account/api.py
Due: pylint

feat: fix failing tests
  api/registry/test/test_human_points_api_response.py
  api/registry/test/test_human_points_constraints.py
Due: pylint

feat: add threshold to customisation api response (#867)
  api/account/api.py
Due: pylint

3504 frontend designs for humn points program (#866)
  api/registry/migrations/0052_alter_humanpoints_address_and_more.py
  api/registry/models.py
  api/registry/test/test_human_points_api_response.py
  api/registry/test/test_human_points_constraints.py
  infra/aws/index.ts
  infra/aws/v2/index.ts
Due: lint infra, lint interface, pylint

fix: infra errors
  infra/aws/app_api/index.ts
  infra/aws/embed/index.ts
  infra/aws/embed/lambda_generic.ts
  infra/aws/embed/rate_limit.ts
  infra/aws/index.ts
  infra/aws/system_tests/index.ts
Due: lint infra, lint interface

fix: infra errors (#868)
  infra/aws/app_api/index.ts
  infra/aws/embed/index.ts
  infra/aws/embed/lambda_generic.ts
  infra/aws/embed/rate_limit.ts
  infra/aws/index.ts
  infra/aws/system_tests/index.ts
Due: lint infra, lint interface

feat: adding breakdown by chain id for human points in score api
  api/registry/human_points_utils.py
  api/registry/test/test_human_points_api_response.py
Due: pylint

feat: adjusting computing the human points for users
  api/registry/human_points_utils.py
Due: pylint
