Repository passportxyz/passport-scorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint system_tests, lint infra, lint interface, pylint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: |
          (?x)^(
              ^utils/pdf2jpg.app|
              .*.min.css|
              .*.min.js
          )

      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              ^utils/pdf2jpg.app|
              .*.min.css|
              .*.min.js
          )

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.8
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format

  - repo: local
    hooks:
      - id: lint system_tests
        name: lint system_tests
        entry: .hooks/lint_system_tests.sh
        language: system
        files: ^system_tests/
        types_or:
          - ts
          - javascript
          - json

  - repo: local
    hooks:
      - id: lint infra
        name: lint infra
        entry: .hooks/lint_infra.sh
        language: system
        files: ^infra/
        types_or:
          - ts
          - javascript
          - json

  - repo: local
    hooks:
      - id: lint interface
        name: lint interface
        entry: .hooks/lint_interface.sh
        language: system
        types_or:
          - ts
          - javascript
          - json

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        require_serial: true
        exclude: .*/migrations/.*
        args:
          - --fail-under=8

fix: add missing migrations
  api/account/migrations/0041_alter_accountapikey_embed_rate_limit.py
  api/passport_admin/migrations/0014_alter_notification_is_active.py
  api/registry/migrations/0045_batchmodelscoringrequest_s3_file_and_more.py
  api/registry/models.py
Due: pylint

feat: add AWS credential override from command arguments to scorer_dump_data
  api/ceramic_cache/management/commands/scorer_dump_data.py
  infra/aws/index.ts
Due: lint infra, lint interface, pylint

feat(systests): adding automated retries (#851)
  system_tests/jest/setupAfterEnv.js
Due: lint system_tests, lint interface

fix: undo change in BatchModelScoringRequest for now
  api/registry/migrations/0046_remove_batchmodelscoringrequest_s3_file_and_more.py
  api/registry/models.py
Due: pylint

fix: updating ruff, adding vs-code extension recommendation (#846)
  .pre-commit-config.yaml
  .vscode/extensions.json
  api/account/migrations/0041_alter_accountapikey_embed_rate_limit.py
  api/ceramic_cache/management/commands/dump_stamp_data.py
  api/ceramic_cache/management/commands/import_legacy_ceramic_data.py
  api/ceramic_cache/management/commands/scorer_dump_data.py
  api/cgrants/management/commands/utils.py
  api/passport_admin/migrations/0014_alter_notification_is_active.py
  api/poetry.lock
  api/registry/admin.py
  api/registry/management/commands/deduplication_export.py
  api/registry/migrations/0045_batchmodelscoringrequest_s3_file_and_more.py
  api/registry/migrations/0046_remove_batchmodelscoringrequest_s3_file_and_more.py
  api/scorer/settings/s3.py
  infra/aws/index.ts
  interface/.env.example
Due: lint infra, lint interface, pylint

feat: update copy changes on landing page
  interface/components/Footer.tsx
  interface/components/LandingPage.tsx
  interface/components/MinimalHeader.tsx
Due: none

feat: updating main dashboard scorer page + footer
  interface/components/Dashboard.tsx
  interface/components/Footer.tsx
Due: none

feat: updating sectins on the dashboard right side
  interface/components/Dashboard.tsx
Due: none

feat: updating usecase selection and display
  interface/components/CommunityCard.tsx
  interface/components/UseCaseModal.tsx
Due: none

feat: updating api key page and description field for scorer modal
  interface/components/APIKeyList.tsx
  interface/components/CommunityCard.tsx
  interface/components/UseCaseModal.tsx
Due: none

feat: fix white text on white background problem in header
  interface/components/MinimalHeader.tsx
Due: none

fix: failing unit test
  interface/__tests__/components/UseCaseModal.test.tsx
Due: none

fix(api): return error response on failed score for internal API
  api/internal/api.py
  api/internal/test/test_score_v2_endpoint.py
  api/registry/atasks.py
  api/registry/models.py
  api/v2/api/api_stamps.py
Due: pylint

fix test
  api/scorer/test/test_submit_passport.py
Due: pylint

fix(api): return error response on failed score for internal API (#854)
  api/internal/api.py
  api/internal/test/test_score_v2_endpoint.py
  api/registry/atasks.py
  api/registry/models.py
  api/scorer/test/test_submit_passport.py
  api/v2/api/api_stamps.py
Due: pylint

feat: updating logo, modifying scorer creation to be a single step
  interface/__tests__/components/CommunityList.test.tsx
  interface/__tests__/components/UseCaseModal.test.tsx
  interface/components/CommunityCard.tsx
  interface/components/UseCaseModal.tsx
  interface/public/assets/gitcoinLogoDark.svg
  interface/public/assets/gitcoinLogoWhite.svg
  interface/public/assets/gitcoinWordLogo.svg
  interface/public/assets/gitcoindaoGreyDark.svg
  interface/public/assets/humanTechLogoDark.svg
  interface/public/assets/humanTechLogoWhite.svg
  interface/utils/onboard.ts
Due: lint interface

fix: adding human.tech logo to header
  interface/components/MinimalHeader.tsx
Due: none

3025 dev portal implement copy changes (#853)
  interface/__tests__/components/CommunityList.test.tsx
  interface/__tests__/components/UseCaseModal.test.tsx
  interface/components/APIKeyList.tsx
  interface/components/CommunityCard.tsx
  interface/components/Dashboard.tsx
  interface/components/Footer.tsx
  interface/components/LandingPage.tsx
  interface/components/MinimalHeader.tsx
  interface/components/UseCaseModal.tsx
  interface/public/assets/gitcoinLogoDark.svg
  interface/public/assets/gitcoinLogoWhite.svg
  interface/public/assets/gitcoinWordLogo.svg
  interface/public/assets/gitcoindaoGreyDark.svg
  interface/public/assets/humanTechLogoDark.svg
  interface/public/assets/humanTechLogoWhite.svg
  interface/utils/onboard.ts
Due: lint interface

feat: address comments for latest UI changes
  interface/components/UseCaseModal.tsx
Due: none

fix: broken lnks and label in siderbar
  interface/components/Dashboard.tsx
Due: none

fix: modify static command to also determine git commit sha and store it in env
  interface/package.json
Due: lint interface

fix(api): issue with rescoring clashed stamps
  api/account/deduplication/lifo.py
  api/account/test/test_deduplication_lifo.py
Due: pylint

feat: rename Stamps API => Passport API
  interface/components/APIKeyList.tsx
Due: none

chore(api): feature flag for multi nullifier
  api/account/deduplication/lifo.py
  api/scorer/settings/base.py
Due: pylint

3025 dev portal implement copy changes 1 (#855)
  interface/components/APIKeyList.tsx
  interface/components/Dashboard.tsx
  interface/components/UseCaseModal.tsx
  interface/package.json
Due: lint interface

lint/format
  api/account/deduplication/lifo.py
Due: pylint

add tests
  api/account/test/test_deduplication_lifo.py
  api/conftest.py
Due: pylint

chore(api): feature flag for multi nullifier (#857)
  api/account/deduplication/lifo.py
  api/account/test/test_deduplication_lifo.py
  api/conftest.py
  api/scorer/settings/base.py
Due: pylint

feat(api): using v2 score response for ceramic cache API - WIP
  api/ceramic_cache/api/schema.py
  api/ceramic_cache/api/v1.py
  api/internal/api.py
  api/v2/api/api_stamps.py
Due: pylint

fixed tests
  api/aws_lambdas/scorer_api_passport/tests/test_bulk_stamp_lambdas.py
  api/aws_lambdas/scorer_api_passport/tests/test_stamp_lambdas.py
  api/ceramic_cache/api/v1.py
  api/ceramic_cache/test/test_bulk_updates_v1.py
  api/ceramic_cache/test/test_get_score.py
  api/v2/api/api_stamps.py
Due: pylint

feat: update monioring metric for response time
  .hooks/lint_interface.sh
  .pre-commit-config.yaml
  infra/aws/index.ts
Due: lint infra, lint interface

feat: change 'IAM (NFT)' check to 'IAM (Ens)' in the hope that it yield consistent results
  system_tests/src/tests/iam.test.ts
Due: lint system_tests, lint interface

fix: remove '.only' constraint in tests
  system_tests/src/tests/iam.test.ts
Due: lint system_tests, lint interface

feat: update monioring metric for response time (#858)
  .hooks/lint_interface.sh
  .pre-commit-config.yaml
  infra/aws/index.ts
  system_tests/src/tests/iam.test.ts
Due: lint system_tests, lint infra, lint interface

feat: debugging why release version does not work ...
  .github/workflows/release_and_deploy_production.yml
Due: none

feat: reworking the processing of batch model scoring requests
  api/registry/admin.py
  api/registry/management/commands/process_batch_model_address_upload.py
  api/registry/migrations/0047_batchmodelscoringrequest_input_addresses_file_and_more.py
  api/registry/migrations/0048_alter_batchmodelscoringrequest_input_addresses_file_and_more.py
  api/registry/migrations/0049_alter_batchmodelscoringrequestitem_batch_scoring_request_and_more.py
  api/registry/models.py
  api/registry/templates/registry/batch_model_scoring_request_changelist.html
  api/scorer/settings/base.py
  api/scorer/settings/model_config.py
Due: pylint
