Repository passportxyz/passport-scorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint system_tests, lint infra, lint interface, pylint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: |
          (?x)^(
              ^utils/pdf2jpg.app|
              .*.min.css|
              .*.min.js
          )

      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              ^utils/pdf2jpg.app|
              .*.min.css|
              .*.min.js
          )

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.8
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format

  - repo: local
    hooks:
      - id: lint system_tests
        name: lint system_tests
        entry: .hooks/lint_system_tests.sh
        language: system
        files: ^system_tests/
        types_or:
          - ts
          - javascript
          - json

  - repo: local
    hooks:
      - id: lint infra
        name: lint infra
        entry: .hooks/lint_infra.sh
        language: system
        files: ^infra/
        types_or:
          - ts
          - javascript
          - json

  - repo: local
    hooks:
      - id: lint interface
        name: lint interface
        entry: .hooks/lint_interface.sh
        language: system
        types_or:
          - ts
          - javascript
          - json

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        require_serial: true
        exclude: .*/migrations/.*
        args:
          - --fail-under=8

Fix/human keys points (#882)
  api/registry/human_points_utils.py
  api/registry/test/test_human_points_scoring_integration.py
Due: pylint

refactor: update arecord_stamp_actions to handle v0 nullifiers and remove provider-based action checks
  api/registry/human_points_utils.py
  api/registry/test/test_human_points_scoring_integration.py
Due: pylint

refactor: update expected actions in human points scoring integration test
  api/registry/test/test_human_points_scoring_integration.py
Due: pylint

Fix/human keys points (#883)
  api/registry/human_points_utils.py
  api/registry/test/test_human_points_scoring_integration.py
Due: pylint

fix: enhance arecord_stamp_actions to handle nullifiers and provider actions more effectively
  api/registry/human_points_utils.py
  api/registry/test/test_human_points_scoring_integration.py
  indexer/src/unified_indexer.rs
Due: pylint

fix: enhance arecord_stamp_actions to handle nullifiers and provider actions more effectively (#884)
  api/registry/human_points_utils.py
  api/registry/test/test_human_points_scoring_integration.py
Due: pylint

fix: exclude 'HIM' action from user points data query in get_user_points_data
  api/registry/human_points_utils.py
Due: pylint

Fix/human keys points (#885)
  api/registry/human_points_utils.py
Due: pylint

fix: improve arecord_stamp_actions to prevent duplicate HumanPoints entries by checking existing nullifiers
  api/registry/human_points_utils.py
Due: pylint

Fix/human keys points (#886)
  api/registry/human_points_utils.py
Due: pylint

fix: optimize arecord_stamp_actions to use provider for deduplication of HumanPoints entries
  api/registry/human_points_utils.py
Due: pylint

refactor: streamline arecord_stamp_actions to always check for provider-based actions, simplifying logic and ensuring accurate HumanPoints creation
  api/registry/human_points_utils.py
Due: pylint

refactor: rename provider variables in arecord_stamp_actions for clarity and consistency
  api/registry/human_points_utils.py
Due: pylint

refactor: optimize nullifier handling in arecord_stamp_actions to use the latest valid nullifier for HumanPoints creation
  api/registry/human_points_utils.py
Due: pylint

fix: correct structure of credentialSubject in test_human_points_scoring_integration to ensure accurate provider handling
  api/registry/test/test_human_points_scoring_integration.py
Due: pylint

Fix/human keys points (#887)
  api/registry/human_points_utils.py
  api/registry/test/test_human_points_scoring_integration.py
Due: pylint

Update scoring bonus threshold from 3 to 4 passing scores
  api/registry/human_points_utils.py
Due: pylint

Update scoring bonus threshold from 3 to 4 passing scores (#888)
  api/registry/human_points_utils.py
Due: pylint

api: add an index to ceramic_cache for the query in get_passport_stamps
  api/ceramic_cache/migrations/0033_add_composite_index_address_deleted_at_id.py
Due: none

api: add an index to ceramic_cache for the query in get_passport_stamps (#889)
  api/ceramic_cache/migrations/0033_add_composite_index_address_deleted_at_id.py
Due: none

Add display_on_all_dashboards field to PassportBanner model
  api/passport_admin/admin.py
  api/passport_admin/api.py
  api/passport_admin/migrations/0015_passportbanner_display_on_all_dashboards.py
  api/passport_admin/models.py
  api/passport_admin/schema.py
Due: pylint

Fix tests to include display_on_all_dashboards field in API responses
  api/passport_admin/tests/test_passport_admin.py
Due: pylint

Add display_on_all_dashboards field to PassportBanner model (#890)
  api/passport_admin/admin.py
  api/passport_admin/api.py
  api/passport_admin/migrations/0015_passportbanner_display_on_all_dashboards.py
  api/passport_admin/models.py
  api/passport_admin/schema.py
  api/passport_admin/tests/test_passport_admin.py
Due: pylint

feat: add MetaMask OG points to Human Points program
  api/registry/atasks.py
  api/registry/human_points_utils.py
  api/registry/migrations/0056_add_metamask_og_action.py
  api/registry/models.py
  api/registry/test/test_mta_points.py
  api/scorer/settings/feature_flags.py
Due: pylint

feat: add MetaMask OG points to Human Points program (#891)
  api/registry/atasks.py
  api/registry/human_points_utils.py
  api/registry/migrations/0056_add_metamask_og_action.py
  api/registry/models.py
  api/registry/test/test_mta_points.py
  api/scorer/settings/feature_flags.py
Due: pylint

fix: fix missing import in admin code
  api/account/admin.py
Due: pylint

fix: fix missing import in admin code (#892)
  api/account/admin.py
Due: pylint

chore: new metamask OG points
  api/registry/human_points_utils.py
  api/registry/migrations/0057_alter_humanpoints_action_and_more.py
  api/registry/models.py
  api/registry/test/test_mta_points.py
Due: pylint

chore: new metamask OG points (#893)
  api/registry/human_points_utils.py
  api/registry/migrations/0057_alter_humanpoints_action_and_more.py
  api/registry/models.py
  api/registry/test/test_mta_points.py
Due: pylint

feat: Add Seasoned Passport OG and The Chosen One human points actions
  api/registry/human_points_utils.py
  api/registry/migrations/0058_add_sog_tco_actions.py
  api/registry/models.py
Due: pylint

feat: Add Seasoned Passport OG and The Chosen One human points actions (#895)
  api/registry/human_points_utils.py
  api/registry/migrations/0058_add_sog_tco_actions.py
  api/registry/models.py
Due: pylint

feat: implement Rust migration Phase 3 - API Key & Credential Validation
  .claude/knowledge/session.md
  rust-scorer/Cargo.lock
  rust-scorer/Cargo.toml
  rust-scorer/src/auth/api_key.rs
  rust-scorer/src/auth/credentials.rs
  rust-scorer/src/auth/mod.rs
  rust-scorer/src/db/connection.rs
  rust-scorer/src/db/read_ops.rs
  rust-scorer/src/db/tests.rs
  rust-scorer/src/db/write_ops.rs
  rust-scorer/src/lib.rs
  test_api_key_hash.py
Due: pylint

📜 Update project documentation via Mim
  .claude/knowledge/KNOWLEDGE_MAP.md
  .claude/knowledge/KNOWLEDGE_MAP_CLAUDE.md
  .claude/knowledge/api/authentication.md
  .claude/knowledge/api/human_points.md
  .claude/knowledge/architecture/scoring_flow.md
  .claude/knowledge/config/database.md
  .claude/knowledge/dependencies/didkit.md
  .claude/knowledge/gotchas/event_data_structure.md
  .claude/knowledge/gotchas/nullifier_handling.md
  .claude/knowledge/patterns/deduplication.md
  .claude/knowledge/session.md
Due: none

doc: initial draft of rust migration plan
  RUST_MIGRATION_PLAN.md
Due: none

doc: enhance Rust migration plan with implementation details
  .claude/knowledge/session.md
  RUST_MIGRATION_PLAN.md
Due: none

📜 Update project documentation via Mim
  .claude/knowledge/KNOWLEDGE_MAP.md
  .claude/knowledge/KNOWLEDGE_MAP_CLAUDE.md
  .claude/knowledge/architecture/scoring_flow.md
  .claude/knowledge/gotchas/django_model_discrepancies.md
  .claude/knowledge/session.md
Due: none

chore: installed mim
  .claude/knowledge/INSTRUCTIONS.md
  .claude/scripts/mim-coalesce
  .claude/servers/mim.js
  .gitattributes
  .mcp.json
  CLAUDE.md
  mim-coalesce
Due: lint interface

📜 Update project documentation via Mim
  .claude/knowledge/KNOWLEDGE_MAP.md
  .claude/knowledge/KNOWLEDGE_MAP_CLAUDE.md
  .claude/knowledge/architecture/scoring_flow.md
  .claude/knowledge/gotchas/score_calculation.md
  .claude/knowledge/session.md
Due: none

feat: implement Rust migration Phase 1 - Data Models & Schema
  .claude/knowledge/session.md
  rust-scorer/.gitignore
  rust-scorer/Cargo.lock
  rust-scorer/Cargo.toml
  rust-scorer/PHASE1_COMPLETE.md
  rust-scorer/src/lib.rs
  rust-scorer/src/main.rs
  rust-scorer/src/models/django.rs
  rust-scorer/src/models/internal.rs
  rust-scorer/src/models/mod.rs
  rust-scorer/src/models/tests.rs
  rust-scorer/src/models/translation.rs
  rust-scorer/src/models/v2_api.rs
Due: none

feat: implement Rust migration Phase 5 - Score Calculation
  .claude/knowledge/KNOWLEDGE_MAP.md
  .claude/knowledge/api/authentication.md
  .claude/knowledge/architecture/scoring_flow.md
  .claude/knowledge/session.md
  RUST_MIGRATION_PLAN.md
  rust-scorer/src/dedup/lifo.rs
  rust-scorer/src/dedup/mod.rs
  rust-scorer/src/lib.rs
  rust-scorer/src/models/internal.rs
  rust-scorer/src/scoring/calculation.rs
  rust-scorer/src/scoring/mod.rs
  rust-scorer/tests/lifo_integration.rs
Due: none
