Repository passportxyz/passport-scorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint system_tests, lint infra, lint interface, pylint

lint system_tests:
  name: lint system_tests
  entry: .hooks/lint_system_tests.sh
  language: system

lint infra:
  name: lint infra
  entry: .hooks/lint_infra.sh
  language: system

lint interface:
  name: lint interface
  entry: .hooks/lint_interface.sh
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  require_serial: true
  args:
  - --fail-under=8

feat(nft-stamp): add plan + fix Rust credential endpoint bugs
  docs/brainstorms/2026-02-10-custom-nft-stamp-brainstorm.md
  docs/plans/2026-02-10-feat-custom-nft-stamp-plan.md
  rust-scorer/Cargo.lock
  rust-scorer/Cargo.toml
  rust-scorer/src/domain/allow_list.rs
Due: none

chore: mim
  .claude/knowledge/KNOWLEDGE_MAP.md
  .claude/knowledge/KNOWLEDGE_MAP_CLAUDE.md
  .claude/knowledge/session.md
  .claude/knowledge/workflows/container_dev_setup.md
Due: none

feat(nft-stamp): add NFTHolder credential type with is_evm field
  api/account/admin.py
  api/account/migrations/0053_add_custom_platform_is_evm.py
  api/account/migrations/0054_seed_nft_holder_example.py
  api/account/models.py
  api/account/test/test_custom_nft_stamp.py
Due: pylint

fix(rust-scorer): remove redundant URL decoding in credential handler
  rust-scorer/src/api/handlers/internal.rs
  todos/001-complete-p2-rust-handler-redundant-url-decoding.md
Due: none

fix(nft-stamp): formatting and missing test fixture
  api/account/admin.py
  api/account/migrations/0053_add_custom_platform_is_evm.py
  api/account/migrations/0054_seed_nft_holder_example.py
  api/account/models.py
  api/account/test/test_custom_nft_stamp.py
Due: pylint

feat(api): custom NFT stamps (#920)
  .claude/knowledge/KNOWLEDGE_MAP.md
  .claude/knowledge/KNOWLEDGE_MAP_CLAUDE.md
  .claude/knowledge/architecture/custom_stamps_frontend.md
  .claude/knowledge/architecture/embed_stamp_customization.md
  .claude/knowledge/dependencies/valkey_redis.md
  .claude/knowledge/gotchas/custom_platform_bugs.md
  .claude/knowledge/gotchas/django_addfield_postgresql.md
  .claude/knowledge/gotchas/rust_scorer_missing_custom_weights.md
  .claude/knowledge/patterns/custom_credential_system.md
  .claude/knowledge/patterns/django_model_patterns.md
  .claude/knowledge/session.md
  .claude/knowledge/workflows/container_dev_setup.md
  .claude/settings.json
  api/account/admin.py
  api/account/migrations/0053_add_custom_platform_is_evm.py
  api/account/migrations/0054_seed_nft_holder_example.py
  api/account/models.py
  api/account/test/test_custom_nft_stamp.py
  dev-setup/install.sh
  docs/brainstorms/2026-02-10-custom-nft-stamp-brainstorm.md
  docs/plans/2026-02-10-feat-custom-nft-stamp-plan.md
  rust-scorer/Cargo.lock
  rust-scorer/Cargo.toml
  rust-scorer/src/api/handlers/internal.rs
  rust-scorer/src/domain/allow_list.rs
  todos/001-complete-p2-rust-handler-redundant-url-decoding.md
Due: lint interface, pylint

chore: remove inefficient stamp index
  api/ceramic_cache/migrations/0035_remove_old_address_deleted_at_index.py
Due: none

feat(security): add SIWE domain allowlist and expiration validation
  .env.development
  api/.env-sample
  api/account/api.py
  api/account/siwe_validation.py
  api/account/test/test_account_domain_expiration.py
  api/account/test/test_siwe_validation.py
  api/app_api/lambda_fn.py
  api/app_api/test/test_lambda_authenticate.py
  api/aws_lambdas/scorer_api_passport/v1/authenticate_POST.py
  api/ceramic_cache/api/schema.py
  api/ceramic_cache/api/v1.py
  api/ceramic_cache/test/test_authenticate_v1.py
  api/ceramic_cache/test/test_authenticate_v2.py
  api/ceramic_cache/utils.py
  api/conftest.py
  api/scorer/settings/base.py
  infra/aws/app_api/index.ts
  infra/aws/index.ts
  interface/utils/siwe.ts
  test/cypress/support/commands.ts
Due: lint infra, lint interface, pylint

fix(infra): type passportXyzDomainName as Output<string>
  infra/aws/index.ts
Due: lint infra, lint interface

fix(infra): add env-less domain to SIWE allowlist for production
  infra/aws/app_api/index.ts
  infra/aws/index.ts
Due: lint infra, lint interface

fix(system-tests): switch ceramic-cache auth from Cacao/DID to SIWE
  system_tests/src/auth/strategies.ts
  system_tests/src/auth/strategies/SiweAuth.ts
  system_tests/src/tests/ceramic_cache_ui.test.ts
Due: lint system_tests, lint interface

fix(infra): add env-less domain to SIWE allowlist for production (#925)
  infra/aws/app_api/index.ts
  infra/aws/index.ts
  system_tests/src/auth/strategies.ts
  system_tests/src/auth/strategies/SiweAuth.ts
  system_tests/src/tests/ceramic_cache_ui.test.ts
Due: lint system_tests, lint infra, lint interface

chore: remove inefficient stamp index (#916)
  api/ceramic_cache/migrations/0035_remove_old_address_deleted_at_index.py
Due: none

fix(infra): add staking app domains to SIWE allowlists
  infra/aws/app_api/index.ts
  infra/aws/index.ts
Due: lint infra, lint interface

feat(embed): add platform definitions for custom stamps and update embed configuration
  api/embed/api.py
  api/embed/test/test_custom_stamps.py
Due: pylint

fix(embed): remove unused import from test_custom_stamps.py
  api/embed/test/test_custom_stamps.py
Due: pylint

refactor(embed): organize import statements in test_custom_stamps.py
  api/embed/test/test_custom_stamps.py
Due: pylint

fix(embed): handle missing order attribute in stamp sections
  api/embed/api.py
Due: pylint

fix(ci): prevent rust scorer artifact name collision between environments
  .github/workflows/build_and_deploy_generic.yml
  .github/workflows/release_and_deploy_production.yml
Due: none

docs: add PR documentation for CI rust artifact reuse fix
  CI_RUST_ARTIFACT_REUSE_PR.md
Due: none

delete doc
  CI_RUST_ARTIFACT_REUSE_PR.md
Due: none

feat(embed): Guest List and Developer List stamps (#3715)
  api/embed/api.py
  api/embed/test/test_custom_stamps.py
Due: pylint

refactor(embed): unify custom stamps to platforms field with grouping
  api/account/admin.py
  api/account/migrations/0055_allowlist_platform.py
  api/account/models.py
  api/embed/api.py
  api/embed/test/test_custom_stamps.py
Due: pylint

chore: upgrade mim
  .claude/knowledge/session.md
  .claude/settings.json
  .gitignore
  .mcp.json
Due: lint interface

fix(embed): add caching, error handling, and deterministic ordering to config endpoint
  api/embed/api.py
  todos/002-complete-p2-missing-error-handling-handle-get-platforms.md
  todos/003-complete-p2-non-deterministic-platform-ordering.md
  todos/004-complete-p2-extra-api-call-auto-verification.md
  todos/005-pending-p2-cross-customization-platform-reference.md
  todos/006-pending-p3-dead-schema-fields.md
  todos/007-complete-p3-duplicate-standard-platform-construction.md
  todos/008-complete-p3-silent-error-swallowing-handlers.md
Due: pylint

fix(interface): await wallet disconnects to fix wallet switching bug
  dev-setup/setup-interface.sh
  interface/__tests__/context/userContext.test.tsx
  interface/context/userContext.tsx
Due: none

fix(interface): disable autoConnectLastWallet in web3-onboard init
  interface/utils/onboard.ts
Due: lint interface

fix(ci): prevent deploy approval gate from being skipped when build_rust_scorer is false
  .github/workflows/build_and_deploy_generic.yml
Due: none

fix(ci): prevent deploy approval gate from being skipped when build_rust_scorer is false (#930)
  .github/workflows/build_and_deploy_generic.yml
Due: none

feat: add linked wallets with canonical scoring per community
  api/account/admin.py
  api/account/api.py
  api/account/api_wallet_groups.py
  api/account/migrations/0055_walletgroup_models.py
  api/account/models.py
  api/account/test/test_wallet_groups.py
  api/v2/api/api_stamps.py
  api/v2/schema.py
  rust-scorer/src/api/handlers/ceramic_cache.rs
  rust-scorer/src/api/handlers/embed.rs
  rust-scorer/src/api/handlers/external.rs
  rust-scorer/src/api/handlers/internal.rs
  rust-scorer/src/db/queries/mod.rs
  rust-scorer/src/db/queries/scoring.rs
  rust-scorer/src/db/queries/wallet_groups.rs
  rust-scorer/src/domain/mod.rs
  rust-scorer/src/domain/scoring.rs
  rust-scorer/src/models/translation.rs
  rust-scorer/src/models/v2_api.rs
Due: pylint

fix: harden linked wallets with security, integrity, and parity fixes
  api/account/api_wallet_groups.py
  api/account/migrations/0055_walletgroup_models.py
  api/account/test/test_wallet_groups.py
  api/v2/api/api_stamps.py
  rust-scorer/src/db/queries/wallet_groups.rs
  rust-scorer/src/domain/scoring.rs
Due: pylint

fix(tests): update 18 test assertions for linked_score field in V2ScoreResponse
  api/ceramic_cache/test/test_bulk_updates_v1.py
  api/ceramic_cache/test/test_get_score.py
  api/embed/test/test_api_get_score.py
  api/embed/test/test_api_stamps.py
  api/embed/test/test_lambda_get_score.py
  api/embed/test/test_lambda_stamps.py
  api/v2/test/test_passport_submission.py
Due: pylint

refactor: simplify linked wallets code and remove dead human points path
  api/account/api_wallet_groups.py
  api/v2/api/api_stamps.py
  rust-scorer/src/domain/scoring.rs
  rust-scorer/src/models/v2_api.rs
Due: pylint

fix: use stamp_scores for merge weights, add index, fix expiration comparison
  .claude/knowledge/session.md
  api/account/migrations/0056_add_canonical_address_index.py
  api/account/models.py
  api/account/test/test_wallet_groups.py
  api/v2/api/api_stamps.py
  rust-scorer/src/domain/scoring.rs
Due: pylint

refactor: consolidate /link and /add into single /link endpoint
  api/account/api_wallet_groups.py
  api/account/test/test_wallet_groups.py
Due: pylint

Path conditions:
  lint system_tests: any of: ^system_tests/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
  lint infra: any of: ^infra/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
  lint interface: any of: \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
  pylint: any of: \.py$, but not: .*/migrations/.*
