Repository passportxyz/passport-scorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint system_tests, lint infra, lint interface, pylint

lint system_tests:
  name: lint system_tests
  entry: .hooks/lint_system_tests.sh
  language: system

lint infra:
  name: lint infra
  entry: .hooks/lint_infra.sh
  language: system

lint interface:
  name: lint interface
  entry: .hooks/lint_interface.sh
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  require_serial: true
  args:
  - --fail-under=8

fix(interface): default the onboard explore URL to app.passport.xyz
  interface/utils/onboard.ts
Due: lint interface

fix: replace remaining retired gitcoin.co links in samples and docs
  api/.env-sample
  api/registry/api/v1.py
  examples/airdrop/README.md
  examples/airdrop/components/AirDrop.js
  examples/airdrop/pages/admin/dashboard.js
  examples/airdrop/pages/admin/theme.js
  examples/airdrop/pages/index.js
  examples/check-trusted-user-app/README.md
  examples/check-trusted-user-app/app/boilerplate.tsx
  examples/example-score-a-passport/Readme.md
  examples/example-score-a-passport/index.html
  examples/onchain-stamps-app/src/app/tab-contents.tsx
  examples/passport-gated-content-app/README.md
  examples/passport-gated-content-app/src/app/boilerplate.tsx
  examples/passport-gated-content-app/src/app/tab-contents.tsx
  examples/score-gating/README.md
  examples/score-gating/components/gate.js
  examples/score-gating/pages/dashboard.js
  examples/score-gating/pages/denied.js
  examples/score-gating/pages/index.js
  examples/score-showcase/README.md
  examples/score-showcase/components/score.js
  examples/score-showcase/pages/index.js
  examples/stamp-collector/README.md
  examples/stamp-collector/src/app/boilerplate.tsx
Due: lint interface, pylint

fix: repoint two legacy docs links at their real pages
  examples/airdrop/components/AirDrop.js
  examples/check-trusted-user-app/README.md
  examples/score-gating/components/gate.js
  examples/score-gating/pages/dashboard.js
  examples/score-gating/pages/denied.js
  examples/score-showcase/components/score.js
Due: lint interface

fix: use the canonical human.tech domains instead of redirects
  Readme.md
  api/v2/api/api_stamps.py
  examples/airdrop/components/AirDrop.js
  examples/airdrop/pages/admin/dashboard.js
  examples/airdrop/pages/admin/theme.js
  examples/airdrop/pages/index.js
  examples/check-trusted-user-app/README.md
  examples/onchain-stamps-app/src/app/tab-contents.tsx
  examples/passport-gated-content-app/README.md
  examples/passport-gated-content-app/src/app/tab-contents.tsx
  examples/score-gating/components/gate.js
  examples/score-gating/pages/dashboard.js
  examples/score-gating/pages/denied.js
  examples/score-gating/pages/index.js
  examples/score-showcase/components/score.js
  examples/score-showcase/pages/index.js
  interface/components/Dashboard.tsx
  interface/components/Footer.tsx
  interface/components/UseCaseModal.tsx
Due: lint interface, pylint

fix(passport-api): add timeout + specific ContentTypeError handling to fetch()
  api/passport/api.py
Due: pylint

fix(passport-api): add timeout + specific ContentTypeError handling to fetch() (#954)
  api/passport/api.py
Due: pylint

fix(scorer): make track_usage / atrack_usage actually write rejection rows
  api/account/migrations/0056_make_accountapikeyanalytics_api_key_nullable.py
  api/account/models.py
  api/registry/api/utils.py
Due: pylint

feat(interface): point key sharing at TAP, with tagged links
  interface/components/APIKeyList.tsx
  interface/components/Dashboard.tsx
Due: none

feat(interface): point key sharing at TAP, with tagged links (#956)
  interface/components/APIKeyList.tsx
  interface/components/Dashboard.tsx
Due: none

feat(interface): ask for the organization name in the scorer modal
  interface/__tests__/components/CommunityList.test.tsx
  interface/__tests__/components/UseCaseModal.test.tsx
  interface/components/UseCaseModal.tsx
  interface/utils/account-requests.ts
Due: lint interface

feat(api): require an organization name before the Portal creates a scorer
  api/account/admin.py
  api/account/api.py
  api/account/migrations/0056_account_organization_name.py
  api/account/models.py
  api/account/test/test_community.py
  api/scorer/test/test_create_community_id.py
Due: pylint

fix(passport-api): increase model-fetch timeout from 10s to 30s
  api/passport/api.py
Due: pylint

fix(passport-api): increase model-fetch timeout from 10s to 30s (#957)
  api/passport/api.py
Due: pylint

chore(infra): keep production API logs for 90 days
  infra/aws/index.ts
  infra/lib/lambda.ts
Due: lint infra, lint interface

feat(api): start the rescore as a Cloud Run job when configured
  api/account/admin.py
  api/account/test/test_recalculate_scores_action.py
  api/registry/management/commands/rescore_communities.py
  api/registry/test/test_command_rescore_communities.py
  api/scorer/cloud_run.py
  api/scorer/settings/base.py
  api/scorer/test/test_cloud_run.py
  wiki/development/gotchas.md
Due: pylint

chore(infra): keep production API logs for 90 days (#958)
  infra/aws/index.ts
  infra/lib/lambda.ts
Due: lint infra, lint interface

Path conditions:
  lint system_tests: any of: ^system_tests/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
  lint infra: any of: ^infra/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
  lint interface: any of: \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
  pylint: any of: \.py$, but not: .*/migrations/.*
