Repository passportxyz/passport-scorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint system_tests, lint infra, lint interface, pylint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: |
          (?x)^(
              ^utils/pdf2jpg.app|
              .*.min.css|
              .*.min.js
          )

      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              ^utils/pdf2jpg.app|
              .*.min.css|
              .*.min.js
          )

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.8
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format

  - repo: local
    hooks:
      - id: lint system_tests
        name: lint system_tests
        entry: .hooks/lint_system_tests.sh
        language: system
        files: ^system_tests/
        types_or:
          - ts
          - javascript
          - json

  - repo: local
    hooks:
      - id: lint infra
        name: lint infra
        entry: .hooks/lint_infra.sh
        language: system
        files: ^infra/
        types_or:
          - ts
          - javascript
          - json

  - repo: local
    hooks:
      - id: lint interface
        name: lint interface
        entry: .hooks/lint_interface.sh
        language: system
        types_or:
          - ts
          - javascript
          - json

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        require_serial: true
        exclude: .*/migrations/.*
        args:
          - --fail-under=8

fix(auth): pure Python ERC-6492 verification - remove Node.js dependency
  SMART_WALLET_AUTHENTICATION.md
  api/ceramic_cache/api/v1.py
  api/scripts/package-lock.json
  api/scripts/package.json
  api/scripts/verify_erc6492.js
Due: lint interface, pylint

fix(schema): make alternate_scorer_id truly optional in CalcScorePayload
  api/ceramic_cache/api/schema.py
Due: pylint

chore(auth): simplify smart wallet verification to mainnet-only
  SMART_WALLET_AUTHENTICATION.md
  api/ceramic_cache/api/v1.py
  api/scripts/debug_erc6492.py
Due: pylint

fix(auth): skip unnecessary eth_chainId RPC calls
  api/ceramic_cache/api/v1.py
Due: pylint

fix(auth): simplify smart wallet verification - mainnet only, cache chainId
  api/ceramic_cache/api/v1.py
Due: pylint

test(auth): update ERC-6492 tests for mainnet-only verification
  api/app_api/lambda_fn.py
  api/ceramic_cache/api/v1.py
  api/ceramic_cache/test/test_authenticate_v2.py
Due: pylint

fix(docker): remove Node.js and scripts install (no longer needed)
  api/Dockerfile
Due: none

chore: smart wallet fixes (#910)
  SMART_WALLET_AUTHENTICATION.md
  api/Dockerfile
  api/app_api/lambda_fn.py
  api/ceramic_cache/api/schema.py
  api/ceramic_cache/api/v1.py
  api/ceramic_cache/test/test_authenticate_v2.py
  api/scorer/settings/base.py
  infra/lib/scorer/routing-rules.ts
  rust-scorer/src/auth/jwt.rs
Due: lint infra, lint interface, pylint

feat(scorer): add X stamp weight configuration (3.2 points) (#908)
  api/scorer/config/gitcoin_passport_weights.py
  api/scorer/settings/gitcoin_passport_weights.py
Due: pylint

feat(scorer): add HUMAN_POINTS_WRITE_ENABLED flag to disable new points creation
  api/registry/atasks.py
  api/registry/test/test_human_points_binary_scoring_fix.py
  api/registry/test/test_human_points_scoring_integration.py
  api/registry/test/test_mta_points.py
  api/scorer/settings/feature_flags.py
  rust-scorer/src/domain/human_points.rs
Due: pylint

feat(scorer): add HUMAN_POINTS_WRITE_ENABLED flag to disable new points creation (#911)
  api/registry/atasks.py
  api/registry/test/test_human_points_binary_scoring_fix.py
  api/registry/test/test_human_points_scoring_integration.py
  api/registry/test/test_mta_points.py
  api/scorer/settings/feature_flags.py
  rust-scorer/src/domain/human_points.rs
Due: pylint

feat(scorer): add Steam Gaming Credentials stamp weight
  api/scorer/config/gitcoin_passport_weights.py
  api/scorer/settings/gitcoin_passport_weights.py
Due: pylint

feat(scorer): auto-include human points based on community flag
  api/ceramic_cache/api/v1.py
  api/v2/api/api_stamps.py
  rust-scorer/src/api/handlers/ceramic_cache.rs
  rust-scorer/src/api/handlers/embed.rs
  rust-scorer/src/api/handlers/external.rs
  rust-scorer/src/api/handlers/internal.rs
  rust-scorer/src/domain/scoring.rs
Due: pylint

fix(rust-scorer): export types needed for integration tests
  rust-scorer/src/lib.rs
Due: none

feat(scorer): auto-include human points based on community flag (#913)
  api/ceramic_cache/api/v1.py
  api/v2/api/api_stamps.py
  rust-scorer/src/api/handlers/ceramic_cache.rs
  rust-scorer/src/api/handlers/embed.rs
  rust-scorer/src/api/handlers/external.rs
  rust-scorer/src/api/handlers/internal.rs
  rust-scorer/src/domain/scoring.rs
  rust-scorer/src/lib.rs
Due: pylint

chore(scorer): remove GuildPassportMember stamp weight
  api/scorer/config/gitcoin_passport_weights.py
  api/scorer/settings/gitcoin_passport_weights.py
Due: pylint

chore(scorer): remove GuildPassportMember stamp weight (#914)
  api/scorer/config/gitcoin_passport_weights.py
  api/scorer/settings/gitcoin_passport_weights.py
Due: pylint

chore: adding undeleted stamp index
  api/ceramic_cache/migrations/0034_optimize_address_lookup_partial_index.py
Due: none

chore: adding undeleted stamp index (#915)
  api/ceramic_cache/migrations/0034_optimize_address_lookup_partial_index.py
Due: none

feat(account): add FeaturedCampaign model for dynamic carousel
  api/account/admin.py
  api/account/api.py
  api/account/migrations/0048_add_featured_campaign.py
  api/account/migrations/0049_populate_featured_campaigns.py
  api/account/models.py
Due: pylint

fix: update ZK Sync logo SVG in featured campaigns migration
  api/account/migrations/0049_populate_featured_campaigns.py
Due: none

feat(account): add FeaturedCampaign model for dynamic carousel (#917)
  api/account/admin.py
  api/account/api.py
  api/account/migrations/0048_add_featured_campaign.py
  api/account/migrations/0049_populate_featured_campaigns.py
  api/account/models.py
Due: pylint

feat(embed): add customizable stamp sections for partners
  api/account/admin.py
  api/account/migrations/0048_add_embed_stamp_section_models.py
  api/account/models.py
  api/embed/api.py
  api/embed/test/test_api_stamp_sections.py
  api/embed/test/test_handle_stamp_sections.py
  api/internal/api.py
Due: pylint

fix(tests): add weight configuration setup for embed stamp sections tests
  api/embed/test/test_handle_stamp_sections.py
Due: pylint

fix(migrations): update import for deletion in embed stamp section models
  api/account/migrations/0048_add_embed_stamp_section_models.py
Due: none

fix(tests): create test user for account setup in embed stamp sections tests
  api/embed/test/test_handle_stamp_sections.py
Due: pylint

feat(embed): combine weights and stamp sections into /embed/config endpoint
  api/embed/api.py
  api/embed/test/test_api_stamp_sections.py
  api/embed/test/test_handle_stamp_sections.py
  api/internal/api.py
Due: pylint

feat(embed): replace hard-coded platform choices with PlatformMetadata model
  .claude/knowledge/session.md
  api/account/admin.py
  api/account/migrations/0050_merge_20260126_2007.py
  api/account/migrations/0051_embedstampsectionitem_platform_fk.py
  api/account/models.py
  api/embed/api.py
  api/embed/test/test_handle_stamp_sections.py
  api/registry/admin.py
  api/registry/migrations/0060_platformmetadata.py
  api/registry/templates/admin/registry/platformmetadata/change_list.html
  api/registry/weight_models.py
Due: pylint

fix(embed): create missing StampMetadata records during platform sync
  api/registry/admin.py
  api/registry/templates/admin/registry/platformmetadata/change_list.html
Due: pylint

fix(admin): use autocomplete for community/platform FKs in EmbedStampSection admin
  api/account/admin.py
Due: pylint

refactor(embed): flatten stamp sections onto Customization model
  api/account/admin.py
  api/account/migrations/0052_flatten_embed_stamp_sections.py
  api/account/models.py
  api/embed/api.py
  api/embed/test/test_handle_stamp_sections.py
  api/registry/weight_models.py
Due: pylint

fix(admin): allow adding section and referencing platform in same save
  api/account/admin.py
Due: pylint

fix(admin): also remove deleted sections from valid set
  api/account/admin.py
Due: pylint

feat(embed): add customizable stamp sections for partners (#904)
  .claude/knowledge/session.md
  api/account/admin.py
  api/account/migrations/0048_add_embed_stamp_section_models.py
  api/account/migrations/0050_merge_20260126_2007.py
  api/account/migrations/0051_embedstampsectionitem_platform_fk.py
  api/account/migrations/0052_flatten_embed_stamp_sections.py
  api/account/models.py
  api/embed/api.py
  api/embed/test/test_api_stamp_sections.py
  api/embed/test/test_handle_stamp_sections.py
  api/internal/api.py
  api/registry/admin.py
  api/registry/migrations/0060_platformmetadata.py
  api/registry/templates/admin/registry/platformmetadata/change_list.html
  api/registry/weight_models.py
Due: pylint

feat(embed): Guest List and Developer List stamps (#3715)
  api/embed/api.py
  api/embed/test/test_custom_stamps.py
Due: pylint

feat(dev-setup): add Ubuntu/Debian setup scripts with container support
  dev-setup/install-ubuntu-container.sh
  dev-setup/install-ubuntu.sh
  dev-setup/setup-ubuntu.sh
Due: none

docs: add Ubuntu dev setup workflow knowledge to mim system
  .claude/knowledge/session.md
Due: none

chore: mim
  .claude/knowledge/KNOWLEDGE_MAP.md
  .claude/knowledge/KNOWLEDGE_MAP_CLAUDE.md
  .claude/knowledge/architecture/custom_stamps_frontend.md
  .claude/knowledge/architecture/embed_stamp_customization.md
  .claude/knowledge/dependencies/valkey_redis.md
  .claude/knowledge/gotchas/custom_platform_bugs.md
  .claude/knowledge/gotchas/django_addfield_postgresql.md
  .claude/knowledge/gotchas/rust_scorer_missing_custom_weights.md
  .claude/knowledge/patterns/custom_credential_system.md
  .claude/knowledge/patterns/django_model_patterns.md
  .claude/settings.json
Due: lint interface

chore: install agent-browser
  dev-setup/install.sh
Due: none
