Repository passportxyz/passport-scorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint system_tests, lint infra, lint interface, pylint

lint system_tests:
  name: lint system_tests
  entry: .hooks/lint_system_tests.sh
  language: system

lint infra:
  name: lint infra
  entry: .hooks/lint_infra.sh
  language: system

lint interface:
  name: lint interface
  entry: .hooks/lint_interface.sh
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  require_serial: true
  args:
  - --fail-under=8

chore: iterated on data structure
  .claude/knowledge/session.md
  FUTURE_DATA_ARCHITECTURE.md
  RUST_MIGRATION_PLAN.md
Due: none

feat: implement Rust migration Phase 6 - Human Points Integration
  RUST_MIGRATION_PLAN.md
  rust-scorer/src/human_points/mod.rs
  rust-scorer/src/human_points/models.rs
  rust-scorer/src/human_points/processing.rs
  rust-scorer/src/lib.rs
  rust-scorer/tests/test_human_points.rs
Due: none

docs: consolidate Rust migration progress into main plan
  RUST_MIGRATION_PLAN.md
  rust-scorer/PHASE1_COMPLETE.md
  rust-scorer/PHASE2_COMPLETE.md
Due: none

fix: restore full credential signature verification with didkit
  rust-scorer/Cargo.toml
  rust-scorer/src/auth/credentials.rs
Due: none

chore: plan clarifications
  RUST_MIGRATION_PLAN.md
Due: none

chore: updated mim
  .claude/servers/mim.js
Due: lint interface

feat: implement Rust migration Phase 2 - Database Layer
  .claude/knowledge/session.md
  rust-scorer/Cargo.toml
  rust-scorer/PHASE2_COMPLETE.md
  rust-scorer/sqlx-data.json
  rust-scorer/src/db/connection.rs
  rust-scorer/src/db/errors.rs
  rust-scorer/src/db/mod.rs
  rust-scorer/src/db/read_ops.rs
  rust-scorer/src/db/tests.rs
  rust-scorer/src/db/write_ops.rs
  rust-scorer/src/lib.rs
  rust-scorer/src/models/django.rs
Due: lint interface

feat: Add AWS X-Ray OpenTelemetry integration to Rust Lambda
  infra/aws/v2/rust-scorer.ts
  infra/lib/scorer/new_service.ts
Due: lint infra, lint interface

debug: Add OTEL debug logging and force flush in Lambda
  rust-scorer/src/api/handler.rs
  rust-scorer/src/api/server.rs
Due: none

test: Add tracing instrumentation to load_scorer_config
  rust-scorer/src/db/read_ops.rs
Due: none

fix: Correct HumanPointsConfig action field max_length to 3
  api/registry/migrations/0058_add_sog_tco_actions.py
  api/registry/models.py
Due: pylint

feat: Complete Phase 8 - Lambda deployment infrastructure
  .claude/knowledge/session.md
  RUST_MIGRATION_PLAN.md
  infra/aws/index.ts
  infra/aws/v2/index.ts
  infra/aws/v2/rust-scorer.ts
  rust-scorer/Dockerfile.lambda
  rust-scorer/LAMBDA_DEPLOYMENT.md
  rust-scorer/build-lambda.sh
  rust-scorer/src/api/server.rs
  rust-scorer/src/main.rs
Due: lint infra, lint interface

📜 Update project documentation via Mim
  .claude/knowledge/KNOWLEDGE_MAP.md
  .claude/knowledge/KNOWLEDGE_MAP_CLAUDE.md
  .claude/knowledge/tools/log_analyzer.md
Due: none

📜 Update project documentation via Mim
  .claude/knowledge/KNOWLEDGE_MAP.md
  .claude/knowledge/KNOWLEDGE_MAP_CLAUDE.md
  .claude/knowledge/api/api_key_performance_optimization.md
  .claude/knowledge/gotchas/api_key_hashing_performance.md
Due: none

fix: OTEL collector and exporter networking issues
  rust-scorer/collector.yaml
  rust-scorer/src/api/server.rs
Due: none

fix: Remove /v1/traces path for Lambda OTLP endpoint
  rust-scorer/src/api/server.rs
Due: none

fix: Update Pulumi to pass full OTLP endpoint path
  infra/aws/v2/rust-scorer.ts
Due: lint infra, lint interface

fix: Use full OTLP endpoint path with /v1/traces for Lambda
  rust-scorer/src/api/server.rs
Due: none

debug: Add logging to inspect /var/task contents in Lambda
  rust-scorer/src/main.rs
  rust-scorer/verify-lambda-package.sh
Due: none

test: Fix test expectation for raw score instead of binary score
  rust-scorer/src/models/tests.rs
Due: none

feat: Replace flamegraph with OpenTelemetry distributed tracing
  .claude/knowledge/session.md
  rust-scorer/Cargo.lock
  rust-scorer/Cargo.toml
  rust-scorer/TELEMETRY_IMPLEMENTATION_PLAN.md
  rust-scorer/docker-compose.yml
  rust-scorer/src/api/handler.rs
  rust-scorer/src/api/server.rs
  rust-scorer/src/auth/api_key.rs
  rust-scorer/src/auth/credentials.rs
  rust-scorer/src/bin/log-analyzer.rs
  rust-scorer/src/human_points/processing.rs
  rust-scorer/src/main.rs
  rust-scorer/src/scoring/calculation.rs
Due: none

📜 Update project documentation via Mim
  .claude/knowledge/session.md
  .claude/knowledge/tools/log_analyzer.md
Due: none

fix: inefficient query
  rust-scorer/src/db/read_ops.rs
  rust-scorer/src/db/write_ops.rs
Due: none

feat(rust-scorer): Enable human points in API response and fix Django compatibility
  .claude/knowledge/session.md
  rust-scorer/src/api/handler.rs
  rust-scorer/src/human_points/processing.rs
  rust-scorer/src/models/v2_api.rs
Due: none

chore: Re-enable CI tests in deployment workflows
  .github/workflows/build_and_deploy_production.yml
  .github/workflows/build_and_deploy_review.yml
  .github/workflows/build_and_deploy_staging.yml
  .github/workflows/release_and_deploy_production.yml
Due: none

fix: Use cargo compiler for Lambda build to avoid Zig dependency
  .github/workflows/build_and_deploy_generic.yml
Due: none

chore: cleanup
  API_KEY_PERFORMANCE_FIX.md
  RUST_ZIP_DEPLOYMENT_CHANGES.md
  infra/aws/index.ts
Due: lint infra, lint interface

fix: Use HTTP protocol for OpenTelemetry traces in Lambda
  rust-scorer/Cargo.toml
  rust-scorer/src/api/server.rs
Due: none

🎯 Apply user-guided documentation refinements
  .claude/knowledge/KNOWLEDGE_MAP.md
  .claude/knowledge/KNOWLEDGE_MAP_CLAUDE.md
  .claude/knowledge/database/field_types.md
  .claude/knowledge/gotchas/score_calculation.md
  .claude/knowledge/patterns/deduplication.md
  .claude/knowledge/tools/log_analyzer.md
  MTA_POINTS_IMPLEMENTATION.md
  TODO.md
  api/batch_model_scoring_request/address-lists/2025-08-19_15-51-11_addresses.json
  api/batch_model_scoring_request/address-lists/2025-08-19_15-51-13_addresses.json
  api/batch_model_scoring_request/address-lists/2025-08-19_15-51-15_addresses.json
  api/batch_model_scoring_request/address-lists/2025-08-19_15-51-18_addresses.json
  api/batch_model_scoring_request/results/2025-08-19_15-51-13_request_id_32.csv
  api/batch_model_scoring_request/results/2025-08-19_15-51-15_request_id_33.csv
  api/batch_model_scoring_request/results/2025-08-19_15-51-18_request_id_34.csv
  api/batch_model_scoring_request/triggers/2025-08-19_15-51-11_score.json
  api/batch_model_scoring_request/triggers/2025-08-19_15-51-13_score.json
  api/batch_model_scoring_request/triggers/2025-08-19_15-51-15_score.json
  api/batch_model_scoring_request/triggers/2025-08-19_15-51-18_score.json
  api/cpy_export_summary.json
  api/cpy_my_scores.parquet
  api/cpy_registry_score.jsonl
  api/my_scores.parquet
  indexer/diagnose_ws.js
  indexer/final_test.js
  indexer/monitor_ws_health.js
  indexer/src/bin/intercept_ws.rs
  indexer/src/bin/test_with_logging.rs
  indexer/src/bin/test_ws_request.rs
  indexer/src/debug_staking_indexer.rs
  indexer/src/debug_utils.rs
  indexer/src/debug_ws_provider.rs
  indexer/test_ethers_style.js
  indexer/test_simple.js
  indexer/test_ws_request.js
  rust-scorer/tracing-flamechart.svg
  rust-scorer/tracing-flamegraph.svg
Due: lint interface

feat: Add standard tracing-flame setup for performance profiling
  rust-scorer/Cargo.toml
  rust-scorer/analyze-performance.sh
  rust-scorer/src/api/server.rs
Due: none

chore: simplified collector.yaml
  rust-scorer/build-lambda-zip.sh
  rust-scorer/collector.yaml
Due: none

feat: Convert Rust Lambda from Docker to zip deployment with layers
  .github/workflows/build_and_deploy_generic.yml
  .github/workflows/build_and_deploy_production.yml
  .github/workflows/build_and_deploy_review.yml
  .github/workflows/build_and_deploy_staging.yml
  .github/workflows/release_and_deploy_production.yml
  RUST_ZIP_DEPLOYMENT_CHANGES.md
  infra/README_TYPESCRIPT_CHECK.md
  infra/aws/index.ts
  infra/aws/v2/index.ts
  infra/aws/v2/rust-scorer.ts
  infra/lib/scorer/new_service.ts
  rust-scorer/Dockerfile.lambda
  rust-scorer/build-lambda-zip.sh
  rust-scorer/build-lambda.sh
Due: lint infra, lint interface

fix: Add telemetry section to collector.yaml for ADOT compatibility
  rust-scorer/collector.yaml
  rust-scorer/test-collector-config.sh
Due: none

fix: Use BatchSpanProcessor instead of SimpleSpanProcessor - no more async panics!
  rust-scorer/src/api/server.rs
  rust-scorer/src/bin/batch_processor_test.rs
  rust-scorer/src/bin/test_telemetry.rs
Due: none

📜 Update project documentation via Mim
  .claude/knowledge/KNOWLEDGE_MAP.md
  .claude/knowledge/KNOWLEDGE_MAP_CLAUDE.md
  .claude/knowledge/api/api_key_performance_optimization.md
Due: none

fix: Ensure tracing-flame consistently writes data
  .claude/knowledge/session.md
  rust-scorer/Cargo.lock
  rust-scorer/src/api/server.rs
  rust-scorer/src/auth/credentials.rs
  rust-scorer/src/db/read_ops.rs
  rust-scorer/src/dedup/lifo.rs
Due: none

cleanup
  MTA_POINTS_IMPLEMENTATION.md
  RUST_MIGRATION_PLAN.md
  TODO.md
  api/batch_model_scoring_request/address-lists/2025-08-19_15-51-11_addresses.json
  api/batch_model_scoring_request/address-lists/2025-08-19_15-51-13_addresses.json
  api/batch_model_scoring_request/address-lists/2025-08-19_15-51-15_addresses.json
  api/batch_model_scoring_request/address-lists/2025-08-19_15-51-18_addresses.json
  api/batch_model_scoring_request/results/2025-08-19_15-51-13_request_id_32.csv
  api/batch_model_scoring_request/results/2025-08-19_15-51-15_request_id_33.csv
  api/batch_model_scoring_request/results/2025-08-19_15-51-18_request_id_34.csv
  api/batch_model_scoring_request/triggers/2025-08-19_15-51-11_score.json
  api/batch_model_scoring_request/triggers/2025-08-19_15-51-13_score.json
  api/batch_model_scoring_request/triggers/2025-08-19_15-51-15_score.json
  api/batch_model_scoring_request/triggers/2025-08-19_15-51-18_score.json
  api/cpy_export_summary.json
  api/cpy_my_scores.parquet
  api/cpy_registry_score.jsonl
  api/my_scores.parquet
  indexer/diagnose_ws.js
  indexer/final_test.js
  indexer/monitor_ws_health.js
  indexer/src/bin/intercept_ws.rs
  indexer/src/bin/test_with_logging.rs
  indexer/src/bin/test_ws_request.rs
  indexer/src/debug_staking_indexer.rs
  indexer/src/debug_utils.rs
  indexer/src/debug_ws_provider.rs
  indexer/test_ethers_style.js
  indexer/test_simple.js
  indexer/test_ws_request.js
  rust-scorer/LAMBDA_DEPLOYMENT.md
  rust-scorer/TELEMETRY_IMPLEMENTATION_PLAN.md
  rust-scorer/TEST_README.md
  rust-scorer/analyze-performance.sh
  rust-scorer/src/bin/pbkdf2-benchmark.rs
  rust-scorer/tracing-flamechart.svg
  rust-scorer/tracing-flamegraph.svg
  test_api_key_hash.py
Due: lint interface, pylint

add missing file
  rust-scorer/src/bin/test_sync_telemetry.rs
Due: none

fix: Fix Rust scorer to match Python implementation exactly
  rust-scorer/Cargo.lock
  rust-scorer/Cargo.toml
  rust-scorer/src/api/handler.rs
  rust-scorer/src/auth/api_key.rs
  rust-scorer/src/auth/credentials.rs
  rust-scorer/src/auth/mod.rs
  rust-scorer/src/db/read_ops.rs
  rust-scorer/src/db/write_ops.rs
  rust-scorer/src/dedup/lifo.rs
  rust-scorer/src/human_points/processing.rs
  rust-scorer/src/models/django.rs
  rust-scorer/src/models/internal.rs
  rust-scorer/src/models/translation.rs
  rust-scorer/src/models/v2_api.rs
  rust-scorer/src/scoring/calculation.rs
Due: none

fix: Optimize cargo-lambda installation and remove Zig dependency
  .github/workflows/build_and_deploy_generic.yml
Due: none

Path conditions:
  lint system_tests: any of: ^system_tests/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
  lint infra: any of: ^infra/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
  lint interface: any of: \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
  pylint: any of: \.py$, but not: .*/migrations/.*
