Repository passportxyz/passport-scorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint system_tests, lint infra, lint interface, pylint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: |
          (?x)^(
              ^utils/pdf2jpg.app|
              .*.min.css|
              .*.min.js
          )

      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              ^utils/pdf2jpg.app|
              .*.min.css|
              .*.min.js
          )

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.8
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format

  - repo: local
    hooks:
      - id: lint system_tests
        name: lint system_tests
        entry: .hooks/lint_system_tests.sh
        language: system
        files: ^system_tests/
        types_or:
          - ts
          - javascript
          - json

  - repo: local
    hooks:
      - id: lint infra
        name: lint infra
        entry: .hooks/lint_infra.sh
        language: system
        files: ^infra/
        types_or:
          - ts
          - javascript
          - json

  - repo: local
    hooks:
      - id: lint interface
        name: lint interface
        entry: .hooks/lint_interface.sh
        language: system
        types_or:
          - ts
          - javascript
          - json

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        require_serial: true
        exclude: .*/migrations/.*
        args:
          - --fail-under=8

fix: correct import path for defaultTags in routing-utils.ts
  infra/lib/scorer/routing-utils.ts
Due: lint infra, lint interface

fix: remove duplicate -tg suffix from embed and app_api target group names
  infra/aws/app_api/index.ts
  infra/aws/embed/index.ts
Due: lint infra, lint interface

fix: remove health checks from Lambda target groups and restore 60s timeouts
  infra/aws/index.ts
  infra/lib/scorer/routing-utils.ts
Due: lint infra, lint interface

fix: use Lambda function name instead of ARN in permissions to match existing resources
  infra/lib/scorer/routing-utils.ts
Due: lint infra, lint interface

fix: change embed endpoint ALB listener priorities to avoid conflict
  infra/lib/scorer/routing-rules.ts
Due: lint infra, lint interface

fix: update all ALB listener rule priorities to avoid conflicts with existing rules
  infra/lib/scorer/routing-rules.ts
Due: lint infra, lint interface

refactor: implement idiomatic Rust error handling and remove code duplication
  rust-scorer/CODEBASE_CLEANUP_TASKS.md
  rust-scorer/src/api/ceramic_cache.rs
  rust-scorer/src/api/embed.rs
  rust-scorer/src/api/error.rs
  rust-scorer/src/api/handlers/external.rs
  rust-scorer/src/api/handlers/internal.rs
  rust-scorer/stub_sqlx.sh
  rust-scorer/uncomment_queries.sh
Due: none

📜 Update project documentation via Mim
  .claude/knowledge/KNOWLEDGE_MAP.md
  .claude/knowledge/KNOWLEDGE_MAP_CLAUDE.md
  .claude/knowledge/architecture/lambda_infrastructure_analysis.md
  .claude/knowledge/deployment/weighted_routing.md
  .claude/knowledge/gotchas/alb_listener_rules_conflicts.md
  .claude/knowledge/patterns/rust_code_organization.md
  .claude/knowledge/session.md
  rust-scorer/CODEBASE_CLEANUP_TASKS.md
Due: none

refactor: consolidate all handler modules under handlers/ directory
  rust-scorer/src/api/handlers/ceramic_cache.rs
  rust-scorer/src/api/handlers/embed.rs
  rust-scorer/src/api/handlers/mod.rs
  rust-scorer/src/api/mod.rs
  rust-scorer/src/api/server.rs
  rust-scorer/src/db/tests.rs
Due: none

chore: update mim
  .claude/agents/inquisitor.md
  .claude/knowledge/INSTRUCTIONS.md
  .claude/scripts/mim
  .claude/scripts/mim.cjs
  .claude/servers/mim.cjs
Due: lint interface

chore: shift ceramic-cache listener rule priorities to 1030-1039
  infra/lib/scorer/routing-rules.ts
Due: lint infra, lint interface

docs: mim distill
  .claude/knowledge/CODE_COMMENTS_TODO.md
  .claude/knowledge/KNOWLEDGE_MAP_CLAUDE.md
  .claude/knowledge/api/addstamps_payload_flexibility.md
  .claude/knowledge/api/internal_api_endpoints.md
  .claude/knowledge/architecture/lambda_infrastructure_analysis.md
  .claude/knowledge/architecture/partner_dashboards.md
  .claude/knowledge/architecture/rust_scorer_implementation_status.md
  .claude/knowledge/config/opentelemetry.md
  .claude/knowledge/deployment/weighted_routing.md
  .claude/knowledge/gotchas/alb_listener_priority.md
  .claude/knowledge/gotchas/api_key_hashing_performance.md
  .claude/knowledge/gotchas/postgresql_numeric_serialization.md
  .claude/knowledge/gotchas/timestamp_serialization.md
  .claude/knowledge/gotchas/type_conversions.md
  .claude/knowledge/session.md
  dev-setup/.gitattributes
  dev-setup/.knowledge/KNOWLEDGE_MAP.md
  dev-setup/.knowledge/KNOWLEDGE_MAP_CLAUDE.md
  dev-setup/.knowledge/environment-detection.md
  dev-setup/.knowledge/setup-guide.md
  dev-setup/CLAUDE.md
  dev-setup/setup.sh
  rust-scorer/.gitattributes
  rust-scorer/.knowledge/KNOWLEDGE_MAP.md
  rust-scorer/.knowledge/KNOWLEDGE_MAP_CLAUDE.md
  rust-scorer/.knowledge/architecture.md
  rust-scorer/.knowledge/code-organization.md
  rust-scorer/.knowledge/testing.md
  rust-scorer/CLAUDE.md
  rust-scorer/comparison-tests/.gitattributes
  rust-scorer/comparison-tests/.knowledge/KNOWLEDGE_MAP.md
  rust-scorer/comparison-tests/.knowledge/KNOWLEDGE_MAP_CLAUDE.md
  rust-scorer/comparison-tests/.knowledge/testing-guide.md
  rust-scorer/comparison-tests/CLAUDE.md
  rust-scorer/src/db/queries/dedup.rs
  rust-scorer/src/db/queries/mod.rs
  rust-scorer/src/db/queries/stamps.rs
  rust-scorer/src/domain/scoring.rs
Due: none

fix: correct SCORE_UPDATE event action code and field references
  infra/lib/scorer/routing-rules.ts
  rust-scorer/comparison-tests/src/main.rs
  rust-scorer/src/db/queries/dedup.rs
  rust-scorer/src/domain/scoring.rs
Due: lint infra, lint interface

refactor: make Rust scorer required and always use weighted routing
  infra/aws/index.ts
  infra/aws/v2/index.ts
  infra/lib/scorer/routing-rules.ts
  infra/lib/scorer/routing-utils.ts
Due: lint infra, lint interface

feat: clean up routing configuration and make all resources required
  infra/aws/index.ts
  infra/aws/v2/index.ts
  infra/aws/v2/rust-scorer.ts
Due: lint infra, lint interface

fix: correct database creation in setup script to avoid silent failures
  dev-setup/setup.sh
Due: none

fix: handle optional CSV file in WeightConfiguration admin
  api/registry/admin.py
Due: pylint

fix: remove X-Use-Rust-Scorer header checks from ceramic cache handlers
  rust-scorer/src/api/handlers/ceramic_cache.rs
Due: none

feat: add CORS support to Rust scorer for ceramic cache endpoints
  .claude/knowledge/session.md
  rust-scorer/Cargo.toml
  rust-scorer/src/api/server.rs
Due: none

feat: add weighted routing catch-all for internal API endpoints
  infra/aws/index.ts
  infra/lib/scorer/routing-rules.ts
Due: lint infra, lint interface

fix: implement zero score case and remove redundant ceramic cache query
  rust-scorer/src/domain/scoring.rs
Due: none

fix: remove LOWER() from indexed columns in WHERE clauses
  .claude/knowledge/session.md
  rust-scorer/src/db/ceramic_cache.rs
  rust-scorer/src/db/queries/bans.rs
  rust-scorer/src/db/queries/dedup.rs
  rust-scorer/src/db/queries/stakes.rs
Due: none

chore: sqlx offline
  rust-scorer/.sqlx/query-24e4d7c7ffadc5e7d9fa4fa6e4f2282cf7e9766eed1a94112f1bf4ea8f2b2da0.json
  rust-scorer/.sqlx/query-63688879f72c89375de8dc17fe71f1deffa7a4f2334ceae2ea15c9cb0d39c9b5.json
  rust-scorer/.sqlx/query-be3f98458e8a8d29e8419a7e04f4eade9c2eca54e59a57e145b63e524f366cac.json
Due: lint interface

chore: mim
  .claude/knowledge/KNOWLEDGE_MAP.md
  .claude/knowledge/KNOWLEDGE_MAP_CLAUDE.md
  .claude/knowledge/api/cors_support.md
  .claude/knowledge/gotchas/alb_listener_rules_conflicts.md
  .claude/knowledge/gotchas/database_query_performance.md
  .claude/knowledge/gotchas/django_migrations.md
  .claude/knowledge/gotchas/postgresql_gexec.md
  .claude/knowledge/gotchas/weight_configuration_csv.md
  .claude/knowledge/session.md
Due: none

fix: handle duplicate stamp race condition with ON CONFLICT DO NOTHING
  rust-scorer/src/db/ceramic_cache.rs
Due: none

fix: dev-setup script fixes for container environments
  .env.development
  dev-setup/create_test_data.py
  dev-setup/install.sh
  dev-setup/setup.sh
  dev-setup/start-redis.sh
Due: pylint

feat: add /ceramic-cache/stamp and /ceramic-cache/weights endpoints to Rust scorer
  rust-scorer/comparison-tests/src/main.rs
  rust-scorer/src/api/handlers/ceramic_cache.rs
  rust-scorer/src/api/handlers/mod.rs
  rust-scorer/src/api/server.rs
Due: none

feat: enable weighted routing for /ceramic-cache/stamp and /weights endpoints
  infra/lib/scorer/routing-rules.ts
Due: lint infra, lint interface

feat: add clone and activate actions for WeightConfiguration admin
  api/registry/admin.py
Due: pylint

chore: temporarily set staging Rust scorer routing to 0%
  .claude/knowledge/session.md
  infra/aws/v2/rust-scorer.ts
Due: lint infra, lint interface

chore: cleanup
  .github/workflows/build_and_deploy_generic.yml
  .github/workflows/release_and_deploy_production.yml
  ENDPOINTS_EXPLORATION_INDEX.md
  INTERNAL_API_RUST_MIGRATION_GUIDE.md
  ROUTING_ANALYSIS_INDEX.md
  RUST_DEVELOPMENT_QUICKSTART.md
  RUST_PYTHON_ENDPOINTS_COMPARISON.md
  RUST_WEIGHTED_ROUTING_HANDOFF.md
  WEIGHTED_ROUTING_BLOCKER_ANALYSIS.md
  WEIGHTED_ROUTING_CURRENT_STATE.md
  WEIGHTED_ROUTING_IMPLEMENTATION_GUIDE.md
  WEIGHTED_ROUTING_QUICK_REFERENCE.md
  api/extract_sql_queries.py
  api/extract_sql_queries_v2.py
  rust-scorer/INTERNAL_API_PROGRESS.md
  rust-scorer/SQLX_METADATA_INSTRUCTIONS.md
  rust-scorer/comparison-tests/HANDOFF.md
Due: pylint

refactor: deduplicate getRoutingPercentages function
  infra/aws/v2/rust-scorer.ts
  infra/lib/scorer/routing-utils.ts
Due: lint infra, lint interface

refactor: move createDockerLambdaFunction to lib/lambda.ts
  infra/aws/app_api/index.ts
  infra/aws/embed/index.ts
  infra/aws/index.ts
  infra/aws/v2/index.ts
  infra/lib/lambda.ts
  infra/lib/scorer/routing-utils.ts
Due: lint infra, lint interface

fix: align ALB routing rules with production configuration
  infra/aws/v2/index.ts
  infra/lib/scorer/routing-rules.ts
  infra/lib/scorer/routing-utils.ts
Due: lint infra, lint interface

feat: make Rust routing percentages configurable via environment variables
  infra/lib/scorer/routing-utils.ts
Due: lint infra, lint interface

feat(scorer): increase Biometrics and CleanHands stamp weights (#899)
  api/scorer/config/gitcoin_passport_weights.py
  api/scorer/settings/gitcoin_passport_weights.py
Due: pylint

feat(infra): pass Rust routing percentage vars to Pulumi workflows
  .github/workflows/deploy_generic.yml
  .github/workflows/infra.yml
Due: none
