Repository passportxyz/passport-scorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint system_tests, lint infra, lint interface, pylint

lint system_tests:
  name: lint system_tests
  entry: .hooks/lint_system_tests.sh
  language: system

lint infra:
  name: lint infra
  entry: .hooks/lint_infra.sh
  language: system

lint interface:
  name: lint interface
  entry: .hooks/lint_interface.sh
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  require_serial: true
  args:
  - --fail-under=8

feat: add configurable OpenTelemetry trace sampling to reduce X-Ray costs
  rust-scorer/src/api/server.rs
Due: none

feat(embed): add customizable stamp sections for partners
  api/account/admin.py
  api/account/migrations/0048_add_embed_stamp_section_models.py
  api/account/models.py
  api/embed/api.py
  api/embed/test/test_api_stamp_sections.py
  api/embed/test/test_handle_stamp_sections.py
  api/internal/api.py
Due: pylint

refactor: complete Phase 1 architecture reorganization for internal API migration
  .claude/knowledge/session.md
  DATABASE_SCHEMA_REFERENCE.md
  INTERNAL_API_RUST_MIGRATION_GUIDE.md
  api/extract_sql_queries.py
  api/extract_sql_queries_v2.py
  rust-scorer/src/api/ceramic_cache.rs
  rust-scorer/src/api/embed.rs
  rust-scorer/src/api/handler.rs
  rust-scorer/src/api/handlers/external.rs
  rust-scorer/src/api/handlers/internal.rs
  rust-scorer/src/api/handlers/mod.rs
  rust-scorer/src/api/mod.rs
  rust-scorer/src/api/server.rs
  rust-scorer/src/api/utils.rs
  rust-scorer/src/db/mod.rs
  rust-scorer/src/db/queries/bans.rs
  rust-scorer/src/db/queries/cgrants.rs
  rust-scorer/src/db/queries/mod.rs
  rust-scorer/src/db/queries/scoring.rs
  rust-scorer/src/db/queries/stakes.rs
  rust-scorer/src/db/queries/stamps.rs
  rust-scorer/src/db/queries/utils.rs
  rust-scorer/src/db/queries/weights.rs
  rust-scorer/src/dedup/mod.rs
  rust-scorer/src/domain/allow_list.rs
  rust-scorer/src/domain/bans.rs
  rust-scorer/src/domain/cgrants.rs
  rust-scorer/src/domain/dedup.rs
  rust-scorer/src/domain/human_points.rs
  rust-scorer/src/domain/mod.rs
  rust-scorer/src/domain/scoring.rs
  rust-scorer/src/domain/stakes.rs
  rust-scorer/src/domain/stamps.rs
  rust-scorer/src/domain/weights.rs
  rust-scorer/src/human_points/mod.rs
  rust-scorer/src/lib.rs
  rust-scorer/src/models/human_points.rs
  rust-scorer/src/models/mod.rs
  rust-scorer/src/scoring/mod.rs
  schema_dump.sql
Due: pylint

fix: stub SQLX queries to allow compilation without DATABASE_URL
  rust-scorer/SQLX_METADATA_INSTRUCTIONS.md
  rust-scorer/src/db/queries/bans.rs
  rust-scorer/src/db/queries/bans.rs.backup
  rust-scorer/src/db/queries/cgrants.rs
  rust-scorer/src/db/queries/cgrants.rs.backup
  rust-scorer/src/db/queries/mod.rs.backup
  rust-scorer/src/db/queries/scoring.rs.backup
  rust-scorer/src/db/queries/stakes.rs
  rust-scorer/src/db/queries/stakes.rs.backup
  rust-scorer/src/db/queries/stamps.rs
  rust-scorer/src/db/queries/stamps.rs.backup
  rust-scorer/src/db/queries/utils.rs
  rust-scorer/src/db/queries/utils.rs.backup
  rust-scorer/src/db/queries/weights.rs.backup
  rust-scorer/stub_sqlx.sh
Due: none

fix: restore SQLX query macros for sqlx prepare
  rust-scorer/src/db/queries/bans.rs
  rust-scorer/src/db/queries/cgrants.rs
  rust-scorer/src/db/queries/stakes.rs
  rust-scorer/src/db/queries/stamps.rs
  rust-scorer/src/db/queries/utils.rs
  rust-scorer/src/db/queries/weights.rs
  rust-scorer/uncomment_queries.sh
Due: none

fix: correct SQLX query issues for cargo sqlx prepare
  rust-scorer/src/db/queries/stamps.rs
  rust-scorer/src/db/queries/weights.rs
Due: none

feat: create comprehensive dev environment setup with SQLX support
  .claude/knowledge/session.md
  dev-setup/DEV_SETUP.md
  dev-setup/README.md
  dev-setup/create_test_data.py
  dev-setup/install.sh
  dev-setup/setup.sh
  dev-setup/start-postgres.sh
  install.sh
Due: pylint

fix: resolve SQLX compile-time query verification errors
  .env.development
  rust-scorer/src/db/queries/stamps.rs
  rust-scorer/src/db/queries/utils.rs
  rust-scorer/src/db/queries/weights.rs
  rust-scorer/src/models/django.rs
Due: none

feat: implement SQLX database queries for internal API endpoints
  .env.development
  dev-setup/setup.sh
  rust-scorer/Cargo.lock
  rust-scorer/Cargo.toml
  rust-scorer/src/db/queries/bans.rs
  rust-scorer/src/db/queries/stakes.rs
  rust-scorer/src/db/queries/stamps.rs
  rust-scorer/src/db/queries/utils.rs
  rust-scorer/src/db/queries/weights.rs
  rust-scorer/src/domain/allow_list.rs
  rust-scorer/src/domain/bans.rs
  rust-scorer/src/domain/stakes.rs
  rust-scorer/src/models/django.rs
Due: none

chore: remove obsolete schema reference docs
  DATABASE_SCHEMA_REFERENCE.md
  RUST_SCORER_EXPANSION_IMPLEMENTATION_GUIDE.md
  RUST_SCORER_SCHEMA_ADDENDUM.md
  schema_dump.sql
Due: none

feat: complete internal API endpoints and migrate embed/ceramic-cache
  rust-scorer/.sqlx/query-002da83c82c68ec03e9fbea183237bf904cedc37f499ab16ca7c719dfa1080c1.json
  rust-scorer/.sqlx/query-0224d6fffe72cfa418b4bf4cef3f8bd3cacaa359a6ad7451899ef86c5302b2c8.json
  rust-scorer/.sqlx/query-20767d60a98ad5207b05bc2b98fd30e7d4149d26e81944da6bcf76c7418d91f3.json
  rust-scorer/.sqlx/query-5f97c8814be58cdb358a20be1d47f1b328771005e42162f785c554f8ce012430.json
  rust-scorer/.sqlx/query-649604204a15ac9e8a12b2b16f1dfd43626fd2aca04813faa56f56a0c82c98c9.json
  rust-scorer/.sqlx/query-689e1bba9efa7bd0db343340a1f4f641ef4bd8a13df3c0b8aac87a99eb67642f.json
  rust-scorer/.sqlx/query-6cf300ed02bcde519be605ccaef21c6f1e8ef6487255089aab27ed7ee62e1aad.json
  rust-scorer/.sqlx/query-921bd9ac38de67ab24417fc92e4d065f078e3f04b1a067f4b7454dc561027cca.json
  rust-scorer/.sqlx/query-9683ecd64d99f2f086ab3a89c100b31cb96b2bf74cda5e34ea6143e06e30caa1.json
  rust-scorer/.sqlx/query-98e10d15a1df6704eebd6daca6579c03a0b335fa2b40a1152c671ec98f286c1f.json
  rust-scorer/.sqlx/query-9e43a1c6ad92c1c451d93167a56c1bf419944c5b716861ded429a4a59ae1c209.json
  rust-scorer/.sqlx/query-a3654231f061f51da7b203aa333d4aa3fc726fd9089c1bb3490c72260634bcd1.json
  rust-scorer/.sqlx/query-aa4240b776bc2ad23a6ff85705d85df143a5702ec167ce02657d4aa9f51b14f1.json
  rust-scorer/.sqlx/query-bb4a0a60555567b191631808884452a810fe707ea32dadfc95cd0784f3507806.json
  rust-scorer/.sqlx/query-bbaa05237d0478e77b0a8203d0e8953538c2ea9b66a08cdd782e6a7fc7472a2a.json
  rust-scorer/.sqlx/query-d70fc30ae75da388cd5dde0d96b724e14c9ae6ef2d4fffbb75ea9770a18630e0.json
  rust-scorer/.sqlx/query-deeb0e5d0b1f057e8301e4cd03e09a677a3784f05935d057c6aeb1c05d8c05e9.json
  rust-scorer/.sqlx/query-f28c4ae990d9047b016004ead1d9b31e4628717f6f52fd309d881e9989ea53da.json
  rust-scorer/.sqlx/query-fd28d16b4c7d90a81083d491fdee84d052d07faf2746d972c7a976fcc04caf39.json
  rust-scorer/.sqlx/query-fe141372ee86a01a85a081d3f6e58671dda7e6300641446e435d468a9f275e7f.json
  rust-scorer/INTERNAL_API_PROGRESS.md
  rust-scorer/src/api/ceramic_cache.rs
  rust-scorer/src/api/embed.rs
  rust-scorer/src/api/handlers/internal.rs
  rust-scorer/src/db/queries/cgrants.rs
  rust-scorer/src/db/tests.rs
  rust-scorer/src/domain/cgrants.rs
Due: lint interface

docs: update handoff doc with remaining tasks
  rust-scorer/INTERNAL_API_PROGRESS.md
Due: none

feat: implement check-bans and check-revocations internal API handlers
  rust-scorer/INTERNAL_API_PROGRESS.md
  rust-scorer/src/api/handlers/internal.rs
Due: none

feat: add Rust/Python comparison testing tool and improve dev setup
  .env.development
  .gitignore
  api/poetry.lock
  api/pyproject.toml
  dev-setup/DEV_SETUP.md
  dev-setup/create_test_credentials.py
  dev-setup/create_test_data.py
  rust-scorer/comparison-tests/Cargo.lock
  rust-scorer/comparison-tests/Cargo.toml
  rust-scorer/comparison-tests/HANDOFF.md
  rust-scorer/comparison-tests/README.md
  rust-scorer/comparison-tests/src/main.rs
  rust-scorer/comparison-tests/test_config.json
  rust-scorer/src/domain/weights.rs
Due: lint interface, pylint

fix: configure comparison-tests as workspace member and filter cargo env vars
  .env.development
  CLAUDE.md
  dev-setup/create_test_credentials.py
  rust-scorer/.sqlx/query-30756cba23cc7fa388c9edc4154f899a0238f14da3e99910cc221389e1eeb830.json
  rust-scorer/.sqlx/query-eb74e2b2ffc3a975202452073bb08ba750c22db5a6a0d14f1a8f17ba8661cac5.json
  rust-scorer/Cargo.lock
  rust-scorer/Cargo.toml
  rust-scorer/comparison-tests/Cargo.lock
  rust-scorer/comparison-tests/HANDOFF.md
  rust-scorer/comparison-tests/src/main.rs
  rust-scorer/comparison-tests/test_config.json
  rust-scorer/src/db/queries/stamps.rs
  rust-scorer/src/db/read_ops.rs
  rust-scorer/src/domain/scoring.rs
  rust-scorer/src/domain/stamps.rs
  rust-scorer/src/models/v2_api.rs
Due: lint interface, pylint

fix: improve comparison-tests reliability and cleanup
  rust-scorer/Cargo.lock
  rust-scorer/comparison-tests/Cargo.toml
  rust-scorer/comparison-tests/src/main.rs
Due: none

refactor: migrate db queries from read_ops/write_ops to organized modules
  rust-scorer/comparison-tests/HANDOFF.md
  rust-scorer/src/db/mod.rs
  rust-scorer/src/db/queries/bans.rs.backup
  rust-scorer/src/db/queries/cgrants.rs.backup
  rust-scorer/src/db/queries/dedup.rs
  rust-scorer/src/db/queries/mod.rs
  rust-scorer/src/db/queries/mod.rs.backup
  rust-scorer/src/db/queries/scoring.rs
  rust-scorer/src/db/queries/scoring.rs.backup
  rust-scorer/src/db/queries/stakes.rs.backup
  rust-scorer/src/db/queries/stamps.rs
  rust-scorer/src/db/queries/stamps.rs.backup
  rust-scorer/src/db/queries/utils.rs.backup
  rust-scorer/src/db/queries/weights.rs
  rust-scorer/src/db/queries/weights.rs.backup
  rust-scorer/src/db/read_ops.rs
  rust-scorer/src/db/write_ops.rs
  rust-scorer/src/domain/dedup.rs
  rust-scorer/src/domain/scoring.rs
  rust-scorer/src/domain/stamps.rs
  rust-scorer/src/domain/weights.rs
Due: none

feat: add production EthereumEip712Signature2021 credential generator
  .claude/knowledge/session.md
  .env.development
  ENDPOINTS_EXPLORATION_INDEX.md
  EXPLORATION_SUMMARY.txt
  RUST_DEVELOPMENT_QUICKSTART.md
  RUST_PYTHON_ENDPOINTS_COMPARISON.md
  api/dump.rdb
  dev-setup/create_test_credentials.py
  rust-scorer/Cargo.lock
  rust-scorer/comparison-tests/Cargo.toml
  rust-scorer/comparison-tests/HANDOFF.md
  rust-scorer/comparison-tests/src/gen_credentials.rs
  rust-scorer/comparison-tests/src/main.rs
  rust-scorer/comparison-tests/test_config.json
Due: lint interface, pylint

feat: complete comparison-tests phase 3 with hardcoded issuer key
  .env.development
  dev-setup/DEV_SETUP.md
  rust-scorer/comparison-tests/Cargo.toml
  rust-scorer/comparison-tests/HANDOFF.md
  rust-scorer/comparison-tests/src/gen_credentials.rs
  rust-scorer/comparison-tests/src/main.rs
  rust-scorer/comparison-tests/test_config.json
Due: lint interface

chore: add Redis dump files to .gitignore
  .gitignore
Due: none

chore: remove Redis dump.rdb from git tracking
  api/dump.rdb
Due: none

📜 Update project documentation via Mim
  .claude/knowledge/KNOWLEDGE_MAP.md
  .claude/knowledge/KNOWLEDGE_MAP_CLAUDE.md
  .claude/knowledge/api/addstamps_payload_flexibility.md
  .claude/knowledge/api/cgrants_endpoint.md
  .claude/knowledge/api/internal_api_endpoints.md
  .claude/knowledge/architecture/rust_scorer_clean_architecture.md
  .claude/knowledge/architecture/rust_scorer_implementation_status.md
  .claude/knowledge/database/internal_api_schema.md
  .claude/knowledge/gotchas/alb_listener_priority.md
  .claude/knowledge/gotchas/container_environment_detection.md
  .claude/knowledge/gotchas/didkit_eip712_signing.md
  .claude/knowledge/gotchas/target_group_alb_limitation.md
  .claude/knowledge/session.md
  .claude/knowledge/workflows/comparison_testing.md
  .claude/knowledge/workflows/development_setup.md
Due: none

fix: resolve timestamp and integer serialization bugs in comparison tests
  rust-scorer/comparison-tests/HANDOFF.md
  rust-scorer/src/domain/bans.rs
  rust-scorer/src/domain/stakes.rs
  rust-scorer/src/models/v2_api.rs
Due: none

feat: complete comparison tests with comprehensive test data
  .claude/knowledge/session.md
  dev-setup/create_cgrants_test_data.py
  dev-setup/create_comprehensive_test_data.py
  dev-setup/create_revocation_test_data.py
  dev-setup/create_simple_test_data.py
  rust-scorer/Cargo.lock
  rust-scorer/comparison-tests/Cargo.toml
  rust-scorer/comparison-tests/HANDOFF.md
  rust-scorer/comparison-tests/src/main.rs
Due: pylint

refactor: consolidate test data scripts into single file
  dev-setup/create_cgrants_test_data.py
  dev-setup/create_comparison_test_data.py
  dev-setup/create_comprehensive_test_data.py
  dev-setup/create_revocation_test_data.py
  dev-setup/create_simple_test_data.py
  rust-scorer/comparison-tests/HANDOFF.md
  rust-scorer/comparison-tests/README.md
Due: pylint

feat: integrate comparison test setup into main development workflow
  dev-setup/setup.sh
  rust-scorer/comparison-tests/HANDOFF.md
Due: none

docs: document ceramic cache endpoints with human points requirements
  .env.development
  dev-setup/create_human_points_test_data.py
  rust-scorer/comparison-tests/HANDOFF.md
Due: pylint

fix: ceramic cache endpoints now passing all comparison tests
  rust-scorer/Cargo.lock
  rust-scorer/comparison-tests/Cargo.toml
  rust-scorer/comparison-tests/HANDOFF.md
  rust-scorer/comparison-tests/src/main.rs
  rust-scorer/src/api/ceramic_cache.rs
  rust-scorer/src/auth/jwt.rs
  rust-scorer/src/domain/scoring.rs
Due: none

feat: complete ceramic cache endpoints - PATCH and DELETE
  rust-scorer/comparison-tests/HANDOFF.md
  rust-scorer/comparison-tests/src/main.rs
  rust-scorer/src/api/ceramic_cache.rs
  rust-scorer/src/api/server.rs
  rust-scorer/src/models/v2_api.rs
Due: none

📜 Update project documentation via Mim
  .claude/knowledge/KNOWLEDGE_MAP.md
  .claude/knowledge/KNOWLEDGE_MAP_CLAUDE.md
  .claude/knowledge/deployment/weighted_routing.md
  .claude/knowledge/gotchas/postgresql_numeric_serialization.md
  .claude/knowledge/gotchas/timestamp_serialization.md
  .claude/knowledge/session.md
Due: none

feat: implement weighted routing infrastructure for Rust scorer (partial)
  .claude/knowledge/session.md
  RUST_WEIGHTED_ROUTING_HANDOFF.md
  WEIGHTED_ROUTING_BLOCKER_ANALYSIS.md
  WEIGHTED_ROUTING_IMPLEMENTATION_GUIDE.md
  infra/aws/v2/index.ts
  infra/aws/v2/rust-scorer.ts
  infra/lib/scorer/routing-rules.ts
  infra/lib/scorer/routing-utils.ts
Due: lint infra, lint interface

docs: update weighted routing guide with accurate implementation details
  WEIGHTED_ROUTING_IMPLEMENTATION_GUIDE.md
Due: none

feat: complete 70% of weighted routing infrastructure refactoring
  ROUTING_ANALYSIS_INDEX.md
  ROUTING_REFACTOR_SUMMARY.txt
  WEIGHTED_ROUTING_CURRENT_STATE.md
  WEIGHTED_ROUTING_IMPLEMENTATION_GUIDE.md
  WEIGHTED_ROUTING_QUICK_REFERENCE.md
  infra/aws/app_api/index.ts
  infra/aws/embed/index.ts
  infra/aws/index.ts
  infra/aws/v2/index.ts
  infra/aws/v2/rust-scorer.ts
Due: lint infra, lint interface

feat: complete weighted routing implementation (85%)
  infra/aws/index.ts
  infra/aws/v2/index.ts
  infra/lib/scorer/routing-rules.ts
  infra/lib/scorer/routing-utils.ts
Due: lint infra, lint interface

feat: add preview/approval step back to release workflow with skip option
  .github/workflows/release_and_deploy_production.yml
Due: none

chore: build fixes
  rust-scorer/.sqlx/query-104317a5c219b8fc577d07901e43cc6967e156dd7a45b88ece80fb35469256ab.json
  rust-scorer/src/api/ceramic_cache.rs
  rust-scorer/src/api/server.rs
Due: lint interface

fix: name length
  infra/aws/index.ts
Due: lint infra, lint interface

fix: shorten all target group names to fit AWS 32-char limit
  infra/aws/app_api/index.ts
  infra/aws/embed/index.ts
  infra/aws/index.ts
  infra/aws/v2/index.ts
Due: lint infra, lint interface

fix: resolve duplicate internal-alb-listener Pulumi URN error
  infra/aws/index.ts
  infra/aws/v2/index.ts
Due: lint infra, lint interface

feat: add CloudWatch alarm creation to centralized routing
  infra/aws/index.ts
  infra/lib/scorer/routing-rules.ts
  infra/lib/scorer/routing-utils.ts
Due: lint infra, lint interface

Path conditions:
  lint system_tests: any of: ^system_tests/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
  lint infra: any of: ^infra/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
  lint interface: any of: \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
  pylint: any of: \.py$, but not: .*/migrations/.*
