Repository passportxyz/passport-scorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint system_tests, lint infra, lint interface, pylint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: |
          (?x)^(
              ^utils/pdf2jpg.app|
              .*.min.css|
              .*.min.js
          )

      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              ^utils/pdf2jpg.app|
              .*.min.css|
              .*.min.js
          )

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.8
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format

  - repo: local
    hooks:
      - id: lint system_tests
        name: lint system_tests
        entry: .hooks/lint_system_tests.sh
        language: system
        files: ^system_tests/
        types_or:
          - ts
          - javascript
          - json

  - repo: local
    hooks:
      - id: lint infra
        name: lint infra
        entry: .hooks/lint_infra.sh
        language: system
        files: ^infra/
        types_or:
          - ts
          - javascript
          - json

  - repo: local
    hooks:
      - id: lint interface
        name: lint interface
        entry: .hooks/lint_interface.sh
        language: system
        types_or:
          - ts
          - javascript
          - json

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        require_serial: true
        exclude: .*/migrations/.*
        args:
          - --fail-under=8

fix: Add rustls TLS support to SQLx for RDS Proxy SSL connections
  rust-scorer/Cargo.lock
  rust-scorer/Cargo.toml
Due: none

docs: Update telemetry documentation with local testing instructions
  rust-scorer/TELEMETRY_SETUP.md
Due: none

fix: Implement SHA-256 fast path for API key verification
  api/account/api_key_validator.py
  api/account/migrations/0044_add_hashed_key_sha256.py
  api/account/models.py
  api/account/test/test_api_key_performance_fix.py
  api/registry/api/utils.py
Due: pylint

refactor: Remove debug wrapper from OTEL exporter
  rust-scorer/src/api/server.rs
Due: none

cleanup: Remove debug code and archive test files
  rust-scorer/CLEANUP.md
  rust-scorer/src/api/server.rs
  rust-scorer/src/main.rs
  rust-scorer/telemetry-debug-archive/RUN_THIS_LOCALLY.sh
  rust-scorer/telemetry-debug-archive/batch_processor_test.rs
  rust-scorer/telemetry-debug-archive/fuck_it_raw_otlp.rs
  rust-scorer/telemetry-debug-archive/instrumented_otlp.rs
  rust-scorer/telemetry-debug-archive/minimal_otlp_test.rs
  rust-scorer/telemetry-debug-archive/real_instrumentation.rs
  rust-scorer/telemetry-debug-archive/test-spans-http.rs
  rust-scorer/telemetry-debug-archive/test-your-jaeger.sh
  rust-scorer/telemetry-debug-archive/test_grpc_otlp.rs
  rust-scorer/telemetry-debug-archive/test_http_jaeger.rs
  rust-scorer/telemetry-debug-archive/test_manual_export.rs
  rust-scorer/telemetry-debug-archive/test_otlp_connection.rs
  rust-scorer/telemetry-debug-archive/test_sync_telemetry.rs
Due: none

docs: Update telemetry status with endpoint fix details
  rust-scorer/TELEMETRY_STATUS.md
Due: none

feat: Add CI/CD pipeline for Rust Lambda scorer
  .github/workflows/build_and_deploy_generic.yml
  rust-scorer/Dockerfile.lambda
Due: none

feat: Add Seasoned Passport OG and The Chosen One human points actions
  rust-scorer/src/human_points/models.rs
  rust-scorer/src/human_points/processing.rs
  rust-scorer/tests/test_human_points.rs
Due: none

fix: Always use /v1/traces path for OTLP endpoint
  rust-scorer/src/api/server.rs
Due: none

feat: Add log analyzer tool for tracing performance analysis
  .gitignore
  rust-scorer/src/bin/log-analyzer.rs
Due: none

fix: Prevent fmt layer from interfering with OpenTelemetry spans
  rust-scorer/src/api/server.rs
Due: none

chore: update mim
  .claude/scripts/mim
Due: none

feat: Enable AWS OTEL Lambda layer for Rust scorer with IAM policy docs
  infra/aws/v2/rust-scorer.ts
Due: lint infra, lint interface

fix: Auto-append /v1/traces to HTTP endpoints if missing
  rust-scorer/src/api/server.rs
Due: none

add: Raw OTLP test that bypasses broken OpenTelemetry SDK
  rust-scorer/Cargo.lock
  rust-scorer/Cargo.toml
  rust-scorer/src/bin/fuck_it_raw_otlp.rs
Due: none

chore: simplified collector.yaml
  rust-scorer/collector.yaml
Due: none

fix: Fix LIFO verification bug and complete Phase 7 with all tests passing
  RUST_MIGRATION_PLAN.md
  rust-scorer/TEST_README.md
  rust-scorer/src/api/error.rs
  rust-scorer/src/api/handler.rs
  rust-scorer/src/api/server.rs
  rust-scorer/src/auth/api_key.rs
  rust-scorer/src/db/errors.rs
  rust-scorer/src/db/tests.rs
  rust-scorer/src/db/write_ops.rs
  rust-scorer/src/dedup/lifo.rs
  rust-scorer/src/main.rs
  rust-scorer/src/scoring/calculation.rs
  rust-scorer/tests/integration_test.rs
Due: none

fix: Use GitHub Action to install cargo-lambda
  .github/workflows/build_and_deploy_generic.yml
Due: none

docs: Document ADOT collector configuration fixes
  rust-scorer/COLLECTOR_FIX.md
Due: none

📜 Update project documentation via Mim
  .claude/knowledge/KNOWLEDGE_MAP.md
  .claude/knowledge/KNOWLEDGE_MAP_CLAUDE.md
  .claude/knowledge/api/axum_routing.md
  .claude/knowledge/api/error_handling.md
  .claude/knowledge/api/phase7_signatures.md
  .claude/knowledge/architecture/scoring_flow.md
  .claude/knowledge/gotchas/django_model_discrepancies.md
  .claude/knowledge/gotchas/type_conversions.md
  .claude/knowledge/workflows/rust_testing.md
Due: none

fix: Use native ARM64 runner and fix Pulumi TypeScript errors
  .github/workflows/build_and_deploy_generic.yml
  infra/aws/v2/rust-scorer.ts
Due: lint infra, lint interface

fix: Properly configure OpenTelemetry for AWS Lambda with ADOT layer
  infra/aws/v2/rust-scorer.ts
  rust-scorer/TELEMETRY_SETUP.md
  rust-scorer/build-lambda-zip.sh
  rust-scorer/collector.yaml
  rust-scorer/src/api/server.rs
Due: lint infra, lint interface

test: Add direct OTEL span creation during init to test exporter
  rust-scorer/src/api/server.rs
Due: none

feat: Add AWS Secrets Manager integration for Rust Lambda
  infra/aws/v2/rust-scorer.ts
  rust-scorer/Cargo.lock
  rust-scorer/Cargo.toml
  rust-scorer/src/api/server.rs
  rust-scorer/src/lib.rs
  rust-scorer/src/main.rs
  rust-scorer/src/secrets.rs
Due: lint infra, lint interface

📜 Update project documentation via Mim
  .claude/knowledge/KNOWLEDGE_MAP.md
  .claude/knowledge/KNOWLEDGE_MAP_CLAUDE.md
  .claude/knowledge/architecture/scoring_flow.md
  .claude/knowledge/deployment/lambda_infrastructure.md
  .claude/knowledge/session.md
Due: none

fix: Attempt to fix OpenTelemetry span export to Jaeger
  rust-scorer/src/api/server.rs
  rust-scorer/src/bin/minimal_otlp_test.rs
  rust-scorer/src/bin/test_otlp_connection.rs
  rust-scorer/src/bin/test_telemetry.rs
Due: none

feat: Add instrumented function examples with manual OTLP export
  rust-scorer/src/bin/instrumented_otlp.rs
  rust-scorer/src/bin/real_instrumentation.rs
Due: none

chore: prettier
  infra/aws/v2/index.ts
  infra/aws/v2/rust-scorer.ts
Due: lint infra, lint interface

chore: update mim
  .claude/scripts/mim
  .claude/scripts/mim-coalesce
  mim-coalesce
Due: none

debug: Add file listing to debug cargo-lambda build output location
  .github/workflows/build_and_deploy_generic.yml
Due: none

add: Final telemetry test scripts - RUN test_http_jaeger ON YOUR MACHINE
  rust-scorer/Cargo.lock
  rust-scorer/Cargo.toml
  rust-scorer/RUN_THIS_LOCALLY.sh
  rust-scorer/src/bin/test_grpc_otlp.rs
  rust-scorer/src/bin/test_http_jaeger.rs
  rust-scorer/test-spans-http.rs
  rust-scorer/test-your-jaeger.sh
Due: none

cleanup: Actually DELETE debug test files instead of archiving
  rust-scorer/CLEANUP.md
  rust-scorer/telemetry-debug-archive/RUN_THIS_LOCALLY.sh
  rust-scorer/telemetry-debug-archive/batch_processor_test.rs
  rust-scorer/telemetry-debug-archive/fuck_it_raw_otlp.rs
  rust-scorer/telemetry-debug-archive/instrumented_otlp.rs
  rust-scorer/telemetry-debug-archive/minimal_otlp_test.rs
  rust-scorer/telemetry-debug-archive/real_instrumentation.rs
  rust-scorer/telemetry-debug-archive/test-spans-http.rs
  rust-scorer/telemetry-debug-archive/test-your-jaeger.sh
  rust-scorer/telemetry-debug-archive/test_grpc_otlp.rs
  rust-scorer/telemetry-debug-archive/test_http_jaeger.rs
  rust-scorer/telemetry-debug-archive/test_manual_export.rs
  rust-scorer/telemetry-debug-archive/test_otlp_connection.rs
  rust-scorer/telemetry-debug-archive/test_sync_telemetry.rs
Due: none

cleanup: Remove unnecessary OTEL layer IAM policy
  infra/aws/index.ts
Due: lint infra, lint interface

fix: Use correct OTLP endpoint URL with /v1/traces path - fixes 404 error
  rust-scorer/TELEMETRY_STATUS.md
  rust-scorer/src/api/server.rs
  rust-scorer/src/bin/batch_processor_test.rs
  rust-scorer/src/bin/test_telemetry.rs
Due: none

fix: Add lambda_http runtime for proper Lambda execution
  rust-scorer/Cargo.lock
  rust-scorer/Cargo.toml
  rust-scorer/src/main.rs
Due: none

fix: Ensure collector.yaml is packaged and deployed correctly
  rust-scorer/build-lambda-zip.sh
Due: none

feat: implement Rust migration Phase 7 - API endpoint integration
  RUST_MIGRATION_PLAN.md
  rust-scorer/Cargo.lock
  rust-scorer/Cargo.toml
  rust-scorer/src/api/error.rs
  rust-scorer/src/api/handler.rs
  rust-scorer/src/api/mod.rs
  rust-scorer/src/api/server.rs
  rust-scorer/src/lib.rs
  rust-scorer/src/main.rs
  rust-scorer/tests/integration_test.rs
Due: none

fix: Complete OpenTelemetry setup - Jaeger just needs to be running
  rust-scorer/Cargo.lock
  rust-scorer/Cargo.toml
  rust-scorer/JAEGER_ISSUE.md
  rust-scorer/src/bin/test_manual_export.rs
Due: none

chore: update mim
  .claude/scripts/mim
  .claude/servers/mim.cjs
  mim
Due: lint interface

cleanup: Remove useless force flush code that doesn't work
  rust-scorer/src/api/handler.rs
Due: none
